<table id="displayBasketDatas" cellpadding="0" cellspacing="0" width="100%">

	<tr>
		<th style="width: 5%; text-align: left;">Pos.</th>
		<th style="width: 15%; text-align: left;">Art.-Nr.</th>
		<th style="width: 50%; text-align: left;">Beschreibung</th>
		<th style="width: 10%; text-align: right; white-space: nowrap;">Menge</th>
		<th style="width: 10%; text-align: right; white-space: nowrap;">Einzelpreis</th>
		<th style="width: 10%; text-align: right; white-space: nowrap;">Gesamtpreis</th>
	</tr>

	<!-- ###BASKET_ITEMS_START### -->
	<tr class="displayBasketDatasItemRows" style="background-color: {###ROW_COLOR###};">
		<td style="text-align: right; white-space: nowrap;">
			<b>{###BASKET_POS_VALUE###}.</b> 
			<input type="hidden" name="arrItemIDs[{###COUNT_ITEM###}]" value="{###BASKET_ITEM_ID###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemId]" value="{###BASKET_ITEM_ID###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemPos]" value="{###BASKET_POS_VALUE###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemModel]" value="{###BASKET_ITEM_NUMBER_VALUE###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemDescription]" value="{###BASKET_ITEM_DESCRIPTION_VALUE###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemQuantity]" value="{###BASKET_ITEM_QUANTITY_VALUE###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemSinglePrice]" value="{###BASKET_ITEM_SINGLE_PRICE_VALUE###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemTotalPrice]" value="{###BASKET_ITEM_TOTAL_PRICE_VALUE###}" />
		</td>
		<td style="white-space: nowrap;">{###BASKET_ITEM_NUMBER_VALUE###}</td>
		<td>{###BASKET_ITEM_DESCRIPTION_VALUE###}</td>
		<td style="text-align: right; white-space: nowrap;">{###BASKET_ITEM_QUANTITY_VALUE###}</td>
		<td style="text-align: right; white-space: nowrap;">{###BASKET_ITEM_SINGLE_PRICE_VALUE###} &euro;</td>
		<td style="text-align: right; white-space: nowrap;">{###BASKET_ITEM_TOTAL_PRICE_VALUE###} &euro;</td>
	</tr>
	<!-- ###BASKET_ITEMS_END### -->

	<tr>
		<td colspan="6">
			<input type="hidden" name="arrPriceDatas[basketDiscount]" value="{###BASKET_DISCOUNT_VALUE###}" />
			<input type="hidden" name="arrPriceDatas[basketTotalPos]" value="{###BASKET_TOTAL_POS_VALUE###}" />
			<input type="hidden" name="arrPriceDatas[basketTotalPrice]" value="{###BASKET_TOTAL_PRICE_VALUE###}" />
			<input type="hidden" name="arrPriceDatas[basketMmst]" value="{###MWST###}" />
			<input type="hidden" name="arrPriceDatas[basketMmstPrice]" value="{###BASKET_MWST_PRICE_VALUE###}" />
			<input type="hidden" name="arrPriceDatas[basketPackagingCosts]" value="{###BASKET_PACKAGING_COSTS_VALUE###}" />
			<input type="hidden" name="arrPriceDatas[basketShippingCosts]" value="{###BASKET_SHIPPING_COSTS_VALUE###}" />
			<input type="hidden" name="arrPriceDatas[basketCompletePrice]" value="{###BASKET_TOTAL_COMPLETE_PRICE_VALUE###}" />
		</td>
	</tr>

	<tr class="displayBasketDatasFooter">
		<td colspan="3">&nbsp;</td>
		<td colspan="2" style="text-align: right;"><b>abzgl. Rabatt:</b> </td>
		<td style="text-align: right;">{###BASKET_DISCOUNT_VALUE###} &euro;</td>
	</tr>

	<tr id="displayBasketDatasFooter">
		<td colspan="3"><b>Pos. Insgesamt:</b> {###BASKET_TOTAL_POS_VALUE###}&nbsp;&nbsp;</td>
		<td colspan="2" style="text-align: right;"><b>Summe:</b> </td>
		<td align="right">{###BASKET_TOTAL_PRICE_VALUE###} &euro;</td>
	</tr>

	<tr class="displayBasketDatasFooter">
		<td colspan="3">&nbsp;</td>
		<td colspan="2" style="text-align: right;"><b>zzgl. {###MWST###}% MwSt.:</b> </td>
		<td style="text-align: right;">{###BASKET_MWST_PRICE_VALUE###} &euro;</td>
	</tr>

	<tr class="displayBasketDatasFooter">
		<td colspan="3">&nbsp;</td>
		<td colspan="2" style="text-align: right;"><b>zzgl. Verpackung:</b> </td>
		<td style="text-align: right;">{###BASKET_PACKAGING_COSTS_VALUE###} &euro;</td>
	</tr>
	<tr class="displayBasketDatasFooter">
		<td colspan="3">&nbsp;</td>
		<td colspan="2" style="text-align: right;"><b>zzgl. Versand:</b> </td>
		<td style="text-align: right;">{###BASKET_SHIPPING_COSTS_VALUE###} &euro;</td>
	</tr>
	<tr class="displayBasketDatasFooter">
		<td colspan="3">&nbsp;</td>
		<td colspan="3" id="sumline" style="text-align: right;">xx</td>
	</tr>
	<tr id="displayBasketDatasFooter">
		<td colspan="3">&nbsp;</td>
		<td colspan="2" style="text-align: right;"><b>Gesamtxx:</b> </td>
		<td style="text-align: right;">{###BASKET_TOTAL_COMPLETE_PRICE_VALUE###} &euro;</td>
	</tr>

</table>