{###STYLES###}
<page pageset="old" backtop="0mm" backbottom="55mm" backleft="0mm" backright="10mm">
	<div id="pdfHeaderArea">
		<p class="pdfHeaderAdressArea" align="right">
			<img src="{###COMPANY_HEADER_IMAGE###}" style="width:80mm;" />
		</p><br>
		<p class="pdfHeaderAdressArea" align="right">
			{###COMPANY_STREET_NAME###} {###COMPANY_STREET_NUMBER###}<br>
			{###COMPANY_ZIPCODE###} {###COMPANY_CITY###}
			<!-- {###COMPANY_COUNTRY###} -->
		</p>

		<table cellpadding="0" cellspacing="0" align="right" class="pdfHeaderAdressArea">
			<tr>
				<td>Telefon:</td><td>{###COMPANY_PHONE###}</td>
			</tr>
			<tr>
				<td>Telefax:</td><td>{###COMPANY_FAX###}</td>
			</tr>
			<tr>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td>E-Mail:</td><td>{###COMPANY_MAIL###}</td>
			</tr>
			<tr>
				<td>Internet:</td><td>{###COMPANY_INTERNET###}</td>
			</tr>
		</table>
		<div class="clear"></div>
	</div><br>
	<table cellpadding="0" cellspacing="0" id="pdfHeaderDatasArea">
		<tr>
			<td style="white-space:nowrap;width: 40%; text-align: left; font-size:6pt; border-bottom:0.5pt solid #000000; font-weight:bold;" >
				{###COMPANY_NAME_LONG###} &middot; {###COMPANY_STREET_NAME###} {###COMPANY_STREET_NUMBER###} &middot; {###COMPANY_ZIPCODE###} {###COMPANY_CITY###}
			</td>
			<td style="width: 60%; text-align: right; font-size:6pt;"></td>
		</tr>
		<tr style="vertical-align:top;">
			<td style="width: 40%; text-align: left; font-size: 9pt; line-height: 11pt;">
				<br>
				{###ADRESS_COMPANY###}
				{###ADRESS_MANAGER###}
				{###ADRESS_CONTACT###}
				{###ADRESS_STREET###}
				{###ADRESS_CITY###}
				{###ADRESS_COUNTRY###}
			</td>
			<td style="width: 60%; text-align: right; font-size: 9pt;">
				<table cellpadding="0" cellspacing="0" align="right" style=" font-size: 8pt;">
					<tr>
						<td colspan="2" class="documentDatasArea" align="left">Bei R&uuml;ckfragen und Schriftwechsel bitte angeben</td>
					</tr>
					{###DOCUMENT_DATAS###}
				</table>
			</td>
		</tr>
	</table>
	<br>
	<br>

	<div id="pdfContentArea">

	<h1>{###SUBJECT###}</h1>
	{###ADDRESS_INVOICE###}{###ADDRESS_DELIVERY###}
	{###SALUTATION_TEXT###}<br>
	{###INTRO_TEXT###}<br>
	{###CARD_DATAS###}
	{###EDITOR_TEXT###}
	{###PAYMENT_CONDITIONS###}
	{###WARNING_INVOICE_IS_PAID###}
	{###BANK_ACCOUNT_WARNING###}
	{###OUTRO_TEXT###}
	<br>
	{###REGARDS_TEXT###}<br>
	{###FOOTER_NOTICE###}
	</div>
	<page_header></page_header>
	<page_footer>
		<div id="linkToAgbArea">Wir arbeiten ausschlie&szlig;lich auf Grund unserer Allgemeinen Einkaufs-, Verkaufs-, Lieferungs- und Zahlungsbedingungen. AGB im Internet unter <a href="http://{###COMPANY_INTERNET###}">{###COMPANY_INTERNET###}</a></div>
		<table cellpadding="0" cellspacing="0" id="pdfFooterArea">
			<tr>
				<th colspan="3"><b>{###COMPANY_NAME_LONG###}</b></th>
				<th><b>Bankverbindung:</b></th>
			</tr>
			<tr>
				<td style="width: 25%;">
					<p>
						{###COMPANY_STREET_NAME###} {###COMPANY_STREET_NUMBER###}<br>
						{###COMPANY_ZIPCODE###} {###COMPANY_CITY###}
					</p>
					<table cellpadding="0" cellspacing="0">
						<tr>
							<td>Telefon:</td><td>{###COMPANY_PHONE###}</td>
						</tr>
						<tr>
							<td>Telefax:</td><td>{###COMPANY_FAX###}</td>
						</tr>
					</table>
				</td>
				<td style="width: 25%;">
					<table cellpadding="0" cellspacing="0">
						<tr>
							<td>E-Mail:</td><td>{###COMPANY_MAIL###}</td>
						</tr>
						<tr>
							<td>Internet:</td><td>{###COMPANY_INTERNET###}</td>
						</tr>
					</table>
				</td>
				<td style="width: 25%;">
					<p>
						USt-IdNr.: {###COMPANY_UID_NUMBER###}<br>
						{###COMPANY_VENUE###}<br>
						Steuernummer: {###COMPANY_TAX_NUMBER###}<br>
						Gesch&auml;ftsf&uuml;hrer: {###COMPANY_MANAGER###}
					</p>
				</td>
				<td style="width: 25%;">
					<!-- BOF BANK_DATAS_CONTENT -->
					<table cellpadding="0" cellspacing="0">
						<tr>
							<td colspan="2">{###BANK_ACCOUNT_NAME###}</td>
						</tr>
						<tr>
							<td>Konto:</td><td>{###BANK_ACCOUNT_NUMBER###}</td>
						</tr>
						<tr>
							<td>BLZ:</td><td>{###BANK_ACCOUNT_CODE###}</td>
						</tr>
						<tr>
							<td>IBAN:</td><td>{###BANK_ACCOUNT_IBAN###}</td>
						</tr>
						<tr>
							<td>BIC:</td><td>{###BANK_ACCOUNT_BIC###}</td>
						</tr>
					</table>
					<!-- EOF BANK_DATAS_CONTENT -->
				</td>
			</tr>
		</table>
		<div align="right" style="margin:0:padding:0;font-size:6pt;color:#000000;">{###CUSTOMERS_TAX_ACCOUNT###}</div>
	</page_footer>

</page>