<div id="linkToAgbArea">Wir arbeiten ausschlie&szlig;lich auf Grund unserer Allgemeinen Einkaufs-, Verkaufs-, Lieferungs- und Zahlungsbedingungen. AGB im Internet unter <a href="http://{###COMPANY_INTERNET###}">{###COMPANY_INTERNET###}</a></div>
<table cellpadding="0" cellspacing="0" id="pdfFooterArea">
	<tr>
		<th colspan="3"><b>{###COMPANY_NAME_LONG###}</b></th>
		<th><b>Bankverbindung:</b></th>
	</tr>
	<tr>
		<td style="width: 25%;">
			<p>
				{###COMPANY_STREET_NAME###} {###COMPANY_STREET_NUMBER###}<br>
				{###COMPANY_ZIPCODE###} {###COMPANY_CITY###}
			</p>
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td>Telefon:</td><td>{###COMPANY_PHONE###}</td>
				</tr>
				<tr>
					<td>Telefax:</td><td>{###COMPANY_FAX###}</td>
				</tr>
			</table>
		</td>
		<td style="width: 25%;">
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td>E-Mail:</td><td>{###COMPANY_MAIL###}</td>
				</tr>
				<tr>
					<td>Internet:</td><td>{###COMPANY_INTERNET###}</td>
				</tr>
			</table> 
		</td>
		<td style="width: 25%;">
			<p>
				USt-IdNr.: {###COMPANY_UID_NUMBER###}<br>
				{###COMPANY_VENUE###}<br>
				Steuernummer: {###COMPANY_TAX_NUMBER###}<br>
				Gesch&auml;ftsf&uuml;hrer: {###COMPANY_MANAGER###}
			</p>
		</td>
		<td style="width: 25%;">
			<table cellpadding="0" cellspacing="0">			
				<tr>
					<td colspan="2">{###BANK_ACCOUNT_NAME###}</td>
				</tr>
				<tr>
					<td>Konto:</td><td>{###BANK_ACCOUNT_NUMBER###}</td>
				</tr>
				<tr>
					<td>BLZ:</td><td>{###BANK_ACCOUNT_CODE###}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
