<table id="displayCardDatas" cellpadding="0" cellspacing="0" width="100%">

	<tr>
		<th style="width: 5%; text-align: left;">Pos.</th>
		<th style="width: 15%; text-align: left;">Art.-Nr.</th>
		<th style="width: 50%; text-align: left;">Beschreibung</th>
		<th style="width: 10%; text-align: right; white-space: nowrap;">Menge</th>
		<!-- BOF PRICE_DATAS -->
		<th style="width: 10%; text-align: right; white-space: nowrap;">Einzelpreis</th>
		<th style="width: 10%; text-align: right; white-space: nowrap;">Gesamtpreis</th>
		<!-- EOF PRICE_DATAS -->
	</tr>

	<!-- ###CARD_ITEMS_START### -->
	<tr class="displayCardDatasItemRows" style="background-color: {###ROW_COLOR###};">
		<td style="text-align: right; white-space: nowrap;">
			<b>{###CARD_POS_VALUE###}.</b>
			<input type="hidden" name="arrItemIDs[{###COUNT_ITEM###}]" value="{###CARD_ITEM_ID###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemId]" value="{###CARD_ITEM_ID###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemPos]" value="{###CARD_POS_VALUE###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemModel]" value="{###CARD_ITEM_NUMBER_VALUE###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemProductId]" value="{###CARD_ITEM_PRODUCT_ID_VALUE###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemDescription]" value="{###CARD_ITEM_DESCRIPTION_VALUE###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemQuantity]" value="{###CARD_ITEM_QUANTITY_VALUE###}" />
			<!-- BOF XXX_PRICE_DATAS -->
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemSinglePrice]" value="{###CARD_ITEM_SINGLE_PRICE_VALUE###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemTotalPrice]" value="{###CARD_ITEM_TOTAL_PRICE_VALUE###}" />
			<!-- EOF XXX_PRICE_DATAS -->
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemPosType]" value="{###CARD_ITEM_POS_TYPE###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemProductKategorieID]" value="{###CARD_ITEM_PRODUCT_CATEGORIE_ID###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemColorsText]" value="{###CARD_ITEM_COLORS_TEXT###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemColorsCount]" value="{###CARD_ITEM_COLORS_COUNT###}" /><br/>
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemPrintType]" value="{###CARD_ITEM_PRINT_TYPE###}" />			
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemPrintText]" value="{###CARD_ITEM_PRINT_TEXT###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemKommission]" value="{###CARD_ITEM_KOMMISSION###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemNotiz]" value="{###CARD_ITEM_NOTIZ###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemPerDirectSale]" value="{###CARD_ITEM_PER_DIRECT_SALE_VALUE###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemWithBorder]" value="{###CARD_ITEM_WITH_BORDER###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemWithClearPaint]" value="{###CARD_ITEM_WITH_CLEARPAINT###}" />
			<input type="hidden" name="arrItemDatas[{###COUNT_ITEM###}][basketItemOrderType]" value="{###CARD_ITEM_ORDER_TYPE###}" />

		</td>
		<td style="white-space: nowrap;">{###CARD_ITEM_NUMBER_VALUE###}</td>
		<td>{###CARD_ITEM_DESCRIPTION_VALUE###}{###CARD_ITEM_KOMMISSION###}{###CARD_ITEM_COLORS_TEXT###}{###CARD_ITEM_PRINT_TEXT###}{###CARD_ITEM_NOTIZ###}{###CARD_ITEM_PER_DIRECT_SALE_TEXT###}</td>
		<td style="text-align: right; white-space: nowrap;">{###CARD_ITEM_QUANTITY_VALUE###}</td>
		<!-- BOF PRICE_DATAS -->
		<td style="text-align: right; white-space: nowrap;">{###CARD_ITEM_SINGLE_PRICE_VALUE###} &euro;</td>
		<td style="text-align: right; white-space: nowrap;">{###CARD_ITEM_TOTAL_PRICE_VALUE###} &euro;</td>
		<!-- EOF PRICE_DATAS -->
	</tr>
	<!-- ###CARD_ITEMS_END### -->

	<tr>
		<td colspan="6">
			<input type="hidden" name="arrPriceDatas[basketDiscountValue]" value="{###CARD_DISCOUNT_VALUE###}" />
			<input type="hidden" name="arrPriceDatas[basketDiscountType]" value="{###CARD_DISCOUNT_TYPE###}" />
			<input type="hidden" name="arrPriceDatas[basketDiscountPercent]" value="{###CARD_DISCOUNT_PERCENT###}" />
			<input type="hidden" name="arrPriceDatas[basketTotalPos]" value="{###CARD_TOTAL_POS_VALUE###}" />
			<input type="hidden" name="arrPriceDatas[basketTotalPrice]" value="{###CARD_TOTAL_PRICE_VALUE###}" />
			<input type="hidden" name="arrPriceDatas[basketMmst]" value="{###MWST###}" />
			<input type="hidden" name="arrPriceDatas[basketMmstPrice]" value="{###CARD_MWST_PRICE_VALUE###}" />
			<input type="hidden" name="arrPriceDatas[basketPackagingCosts]" value="{###CARD_PACKAGING_COSTS_VALUE###}" />
			<input type="hidden" name="arrPriceDatas[basketShippingCosts]" value="{###CARD_SHIPPING_COSTS_VALUE###}" />
			<input type="hidden" name="arrPriceDatas[basketCashOnDelivery]" value="{###CARD_CASH_ON_DELIVERY_VALUE###}" />
			<input type="hidden" name="arrPriceDatas[basketCompletePrice]" value="{###CARD_TOTAL_COMPLETE_PRICE_VALUE###}" />
			<input type="hidden" name="arrPriceDatas[basketInterestPercent]" value="{###REMINDER_INTEREST_PERCENT###}" />
			<input type="hidden" name="arrPriceDatas[basketInterestPrice]" value="{###REMINDER_INTEREST_VALUE###}" />
			<input type="hidden" name="arrPriceDatas[basketChargesPrice]" value="{###REMINDER_CHARGES_VALUE###}" />
		</td>
	</tr>

	<!-- BOF PRICE_DATAS -->

	<!-- ###DISCOUNT_START### -->
	<tr class="displayCardDatasFooter">
		<td colspan="3">&nbsp;</td>
		<td colspan="2" style="text-align: right;"><b>Zwischensumme:</b> </td>
		<td style="text-align: right;">{###CARD_SUBTOTAL_PRICE_VALUE###} &euro;</td>
	</tr>
	<tr class="displayCardDatasFooter">
		<td colspan="3">&nbsp;</td>
		<td colspan="2" style="text-align: right;color: #CC0000;"><b>abzgl. {###CARD_DISCOUNT_PERCENT###}Rabatt:</b> </td>
		<td style="text-align: right;color: #CC0000;">{###CARD_DISCOUNT_VALUE###} &euro;</td>
	</tr>
	<!-- ###DISCOUNT_END### -->

	<tr class="displayCardDatasFooter">
		<td colspan="3"><b>Pos. Insgesamt:</b> {###CARD_TOTAL_POS_VALUE###}&nbsp;&nbsp;</td>
		<td colspan="2" style="text-align: right;"><b>Summe:</b> </td>
		<td align="right">{###CARD_TOTAL_PRICE_VALUE###} &euro;</td>
	</tr>

	<!-- ###PACKAGING_COSTS_START### -->
	<tr class="displayCardDatasFooter">
		<td colspan="3">&nbsp;</td>
		<td colspan="2" style="text-align: right;"><b>zzgl. Verpackung:</b> </td>
		<td style="text-align: right;">{###CARD_PACKAGING_COSTS_VALUE###} &euro;</td>
	</tr>
	<!-- ###PACKAGING_COSTS_END### -->

	<!-- ###SHIPPING_COSTS_START### -->
	<tr class="displayCardDatasFooter">
		<td colspan="3">&nbsp;</td>
		<td colspan="2" style="text-align: right;"><b>zzgl. Versand</b> ({###CARD_SHIPPING_COSTS_PER_PACKAGE###} &euro;)<b>:</b> </td>
		<td style="text-align: right;">{###CARD_SHIPPING_COSTS_VALUE###} &euro;</td>
	</tr>
	<!-- ###SHIPPING_COSTS_END### -->

	<!-- ###CASH_ON_DELIVERY_START### -->
	<tr class="displayCardDatasFooter">
		<td colspan="3">&nbsp;</td>
		<td colspan="2" style="text-align: right;"><b>zzgl. Nachnamegeb&uuml;hr:</b> </td>
		<td style="text-align: right;">{###CARD_CASH_ON_DELIVERY_VALUE###} &euro;</td>
	</tr>
	<!-- ###CASH_ON_DELIVERY_END### -->

	<tr class="displayCardDatasFooter">
		<td colspan="3">&nbsp;</td>
		<td colspan="2" style="text-align: right;"><b>{###MWST_TYPE_TEXT###} {###MWST###}% MwSt.:</b> </td>
		<td style="text-align: right;">{###CARD_MWST_PRICE_VALUE###} &euro;</td>
	</tr>

	<tr class="displayCardDatasFooter">
		<td colspan="3"></td>
		<td colspan="3" id="sumline" style="text-align: right;"></td>
	</tr>

	<tr class="displayCardDatasFooter">
		<td colspan="3">&nbsp;</td>
		<td colspan="2" style="text-align: right;"><b>Gesamt:</b> </td>
		<td style="text-align: right;">{###CARD_TOTAL_COMPLETE_PRICE_VALUE###} &euro;</td>
	</tr>

	<!-- ###REMINDER_CHARGES_START### -->

	<!-- ###REMINDER_PARTLY_PAID_START### -->
	<tr class="displayCardDatasFooter">
		<td colspan="3">&nbsp;</td>
		<td colspan="2" style="text-align: right;"><b>Bezahlt:</b> </td>
		<td style="text-align: right;">{###REMINDER_PAID_PART_VALUE###} &euro;</td>
	</tr>
	<tr class="displayCardDatasFooter">
		<td colspan="3">&nbsp;</td>
		<td colspan="2" style="text-align: right;"><b>Fehlbetrag:</b> </td>
		<td style="text-align: right;">{###REMINDER_REST_PART_VALUE###} &euro;</td>
	</tr>
	<!-- ###REMINDER_PARTLY_PAID_END### -->

	<tr class="displayCardDatasFooter">
		<td colspan="3">&nbsp;</td>
		<td colspan="2" style="text-align: right;"><b>Mahnzins ({###REMINDER_INTEREST_PERCENT###}%):</b> </td>
		<td style="text-align: right;">{###REMINDER_INTEREST_VALUE###} &euro;</td>
	</tr>
	<tr class="displayCardDatasFooter">
		<td colspan="3">&nbsp;</td>
		<td colspan="2" style="text-align: right;"><b>Mahngeb&uuml;hr:</b> </td>
		<td style="text-align: right;">{###REMINDER_CHARGES_VALUE###} &euro;</td>
	</tr>

	<tr class="displayCardDatasFooter">
		<td colspan="3"></td>
		<td colspan="3" id="sumline" style="text-align: right;"></td>
	</tr>

	<tr class="displayCardDatasFooter">
		<td colspan="3">&nbsp;</td>
		<td colspan="2" style="text-align: right;"><b>Zu zahlender Betrag:</b> </td>
		<td style="text-align: right;">{###CARD_TOTAL_REMINDER_VALUE###} &euro;</td>
	</tr>
	<!-- ###REMINDER_CHARGES_END### -->

	<!-- EOF PRICE_DATAS -->

</table>