<div id="pdfHeaderArea">	
	<p class="pdfHeaderAdressArea" align="right">
		<img src="{###HEADER_IMAGE###}" style="width:80mm;" />	
	</p>
	<p class="pdfHeaderAdressArea" align="right">
		{###COMPANY_STREET_NAME###} {###COMPANY_STREET_NUMBER###}<br>
		{###COMPANY_ZIPCODE###} {###COMPANY_CITY###}
	</p>
	
	<table cellpadding="0" cellspacing="0" align="right" class="pdfHeaderAdressArea">
		<tr>
			<td>Telefon:</td><td>{###COMPANY_PHONE###}</td>
		</tr>
		<tr>
			<td>Telefax:</td><td>{###COMPANY_FAX###}</td>
		</tr>
		<tr>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td>E-Mail:</td><td>{###COMPANY_MAIL###}</td>
		</tr>
		<tr>
			<td>Internet:</td><td>{###COMPANY_INTERNET###}</td>
		</tr>
	</table>	
	<div class="clear"></div>
</div>

<br><br>
<table cellpadding="0" cellspacing="0" id="pdfHeaderDatasArea">	
	<tr>
		<td style="width: 40%; text-align: left; font-size:6pt; border-bottom:0.5pt solid #000000; font-weight:bold;" >
			{###COMPANY_NAME_LONG###} &middot; {###COMPANY_STREET_NAME###} {###COMPANY_STREET_NUMBER###} &middot; {###COMPANY_ZIPCODE###} {###COMPANY_CITY###}
		</td>
		<td style="width: 60%; text-align: right; font-size:6pt;"></td>
	</tr>
	<tr style="vertical-align:top;">
		<td style="width: 40%; text-align: left; font-size: 9pt; line-height: 11pt;">
			<br>		
			{###ADRESS_COMPANY###}			
			{###ADRESS_NAME###}	
			{###ADRESS_CONTACT###}
			{###ADRESS_STREET###}	
			{###ADRESS_CITY###}			
			{###ADRESS_COUNTRY###}
		</td>
		<td style="width: 60%; text-align: right; font-size: 9pt;">
			{###DOCUMENT_DATAS###}
		</td>
	</tr>
</table>


