﻿/* ------------------------------------------------------------------------
  5.0 OTHER
------------------------------------------------------------------------- */

  .hide { display: none; }

  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  /* Hides from IE-mac \*/
  * html .clearfix {height: 1%;}
  .clearfix {display: block;}
  /* End hide from IE-mac */
  
  #template {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -576px;
    opacity: 0.5;
  }
  
  #template.small {
    border: 1px red solid;
    height: 20px;
    overflow: hidden;
  }
  
  .clearfix:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
  }

  .clearfix {display: inline-block;}

  /* Hides from IE-mac \*/
  * html .clearfix {height: 1%;}
  .clearfix {display: block;}
  /* End hide from IE-mac */
  
  
  /* ------------------------------------- */
  .pp_content_container, .pp_special {
	margin:0;
	padding:0;
  }
  
  .pp_gallery , .pp_social {
	display:none;
  }
  
  .xxxpp_content {
	height: 700px !important;
  }
  .ppt {
	margin:0;
	padding:0;
	display:none !important;
  } 