@charset "utf-8";
@font-face { font-family:arial; src:url(../includedTtfFonts/arial.ttf);
@font-face { font-family:arial; src:url(../includedTtfFonts/arialbd.ttf);
@font-face { font-family:arial; src:url(../includedTtfFonts/arialbi.ttf);
@font-face { font-family:arial; src:url(../includedTtfFonts/ariali.ttf);
@font-face { font-family:arial black; src:url(../includedTtfFonts/ariblk.ttf);