body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background: #fff;
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 12px;
  color: #000;
}

#all-page {
  width: 994px;
  margin: auto;
  text-align: left;
  position: relative;
}

p {
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 0px 0px;
}

a {
  font-family: arial, sans-serif;
  text-decoration: underline;
  font-size: 12px;
  color: #e72f1e;
}

a:hover {
  text-decoration: none;
}

a img {
  border: 0px;
}

.cleaner {
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  clear: both;
}

h1 {
  margin: 0;
}

h1 span{
  display: none;
}

h1.homepage {
  margin: 0px 0px 0px 0px;
  padding: 65px 0px 13px 20px;
  background: url('gfx/jubo-logo.jpg') 0px 0px no-repeat;
  font-size: 16px;
  font-style: italic;
  color: #e72f1e;
}

#topbar {
  width: 994px;
  height: 85px;
  background: url('gfx/topbar.jpg') 0px 0px no-repeat;
}

#topbar img{
  float: left;
  padding: 0px 0px 0px 25px;
}

#topbar ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style-type: none;
  float: right;
  position: relative;
  right: 25px;
  top: 49px;
}

#topbar ul li{
  margin: 0px 0px 0px 0px;
  padding: 0px 13px 0px 13px;
  list-style-type: none;
  float: left;
}

#topbar ul li a{
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
}

#topbar ul li a:hover,#topbar ul li a.activ{
  color: #1a1a1e;
}

#hp-content {
  background: url('gfx/homepage-copy.png') 0px 0px repeat-x;
}

#hp-content table{
  height: 401px;
  float: left;
  width: 535px;
  vertical-align: bottom;
  padding: 0px 0px 0px 0px;
  background: url('gfx/map.jpg') 135px bottom no-repeat;
}

#hp-content table td img,.banners img{
  behavior: url('htc/iepngfix.htc');
}

.banners a{
  padding: 0px 2px 0px 2px;
}

#hp-content table td {
  padding: 0px 0px 0px 5px;
  vertical-align: bottom;
}

.banners {
  text-align: center;
}

.footer {
  text-align: center;
}

.footer img{

}

.footer span{
  color: #a9a9ab;
  padding: 0px 0px 0px 50px;
}

.footer span.footer-dot{
  padding: 0px 6px 0px 6px;
  background: url('gfx/footer-dot.gif') center 6px no-repeat;
}

.footer p a.created{
  padding: 0px 0px 0px 0px;
  background: none;
  color: #a9a9ab;
}

.footer p{
  border-top: 1px solid #dbdbdb;
  color: #78787a;
  text-align: right;
  font-size: 11px;
  padding: 6px 0px 30px 0px;
  margin-top: 20px;
  letter-spacing: 1px
}

.footer p a{ 
  color: #78787a;
  padding: 0px 0px 0px 0px;
  font-size: 11px;
  text-decoration: none;
}

.hp-form {
  float: left;
  width: 440px;
  padding-top: 20px;
}

.hp-form img{
  behavior: url('htc/iepngfix.htc');
  margin-bottom: 10px;
  float: left;
}

.box-top {
  width: 430px;
  height: 11px;
  font-size: 0px;
  line-height: 0px;
  background: url('gfx/form-box/top.png') 0px 0px no-repeat;
  behavior: url('htc/iepngfix.htc');
}

.box-middle {
  width: 430px;
  background: url('gfx/form-box/middle.png') 0px 0px repeat-y;
}

.box-middle-vertical {
  min-height: 204px;
  background: url('gfx/form-box/vertical.jpg') 0px 0px repeat-x;
  margin: 0px 2px 0px 2px;
  padding-left: 15px;
}

.box-bottom {
  width: 430px;
  height: 27px;
  font-size: 0px;
  line-height: 0px;
  background: url('gfx/form-box/bottom.png') 0px 0px no-repeat;
  behavior: url('htc/iepngfix.htc');
}

.box-bottom-search {






}

.box-middle-vertical p{
  font-size: 14px;
  font-weight: bold;
  margin: 0px 25px 8px 3px;
  line-height: 18px;
}

.form{
  margin: 0px 0px 0px 0px;
}

.form label{
  display: block;
  padding: 0px 0px 3px 3px;
  font-size: 11px;
  color: #4e4e51;
}

.form1 {
  float: left;
  width: 82px;
}

.form2 {
  float: left;
  width: 206px;
}

.form3 {
  float: left;
  width: 100px;
}

.input1 {
  width: 50px;
  height: 18px;
  padding: 2px 5px 0px 5px;
  border: 1px solid #809db9;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  display: block;
  float: left;
}

.input2 {
  width: 176px;
  height: 18px;
  padding: 2px 5px 0px 5px;
  border: 1px solid #809db9;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  display: block;
  float: left;
}

.form select{
  width: 77px;
  height: 20px;
  padding: 0px 0px 0px 0px;
  border: 1px solid #809db9;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  display: block;
  float: left;
}

.suche-button {
  background: url('gfx/button-suchen.png');
  behavior: url('htc/iepngfix.htc');
  /*background: #000;*/
  color: #fff;
  width: 217px;
  height: 26px;
  padding-bottom: 2px;
  /*position: relative;
  left: 287px;*/

  border: none;
  cursor: pointer;
  font-weight: bold;
}


.weiterempfehlen-button {














}

.checks-left {
  float: left;
  width: 153px;
  padding-top: 12px;
}

.checks-right {
  float: left;
  width: 245px;
  padding-top: 12px;
}

.checkbox {
  display: block;
  float: left;
  margin: 0px 7px 0px 0px;
  position: relative;
  top: 2px;
}

.form label.ch-label {
  display: block;
  float: left;
  padding: 0px 0px 0px 0px;
  line-height: 20px;
  font-size: 12px;
  color: #1a1a1e;
}

#content {
  background: url('gfx/content.jpg') 0px bottom repeat-x #fff;
}

.content-area {
  padding: 20px 20px 40px 20px;
}

.submenu {
  margin: 5px 0px 25px 0px;
  padding: 0px 0px 0px 15px;
  list-style-type: none;
  float: left;
}

.submenu li{
  margin: 0px 0px 0px 0px;
  padding: 0px 13px 0px 13px;
  list-style-type: none;
  float: left;
}

.submenu li a{
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
}

.submenu li a:hover,.submenu li a.activ{
  color: #1a1a1e;
}

.edit-left {
  float: left;
  width: 554px;
}

.edit-right {
  float: left;
  width: 379px;
  padding: 40px 0px 0px 0px;
}

.box-top-big {
  width: 522px;
  height: 24px;
  font-size: 0px;
  line-height: 0px;
  margin-left: 15px;
  background: url('gfx/form-box/top-big.png') 0px 0px no-repeat;
  behavior: url('htc/iepngfix.htc');
}

.box-middle-big {
  width: 522px;
  background: url('gfx/form-box/middle-big.png') 0px 0px repeat-y;
  margin-left: 15px;
}

.box-bottom-big {
  width: 522px;
  height: 27px;
  margin-left: 15px;
  font-size: 0px;
  line-height: 0px;
  background: url('gfx/form-box/bottom-big.png') 0px 0px no-repeat;
  behavior: url('htc/iepngfix.htc');
}













.speichern-button {
  background: url('gfx/button-speichern.png');
  behavior: url('htc/iepngfix.htc');
  color: #fff;
  width: 181px;
  height: 26px;
  padding-bottom: 2px;
  position: relative;
  left: 323px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}




.box-top-big p{
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  text-align: center;
  width: 130px;
  margin: 0px 0px 0px 19px;
  line-height: 24px;
}

.form-speichern {
  margin: 0px 0px 40px 0px;
}

.form-content {
  padding: 15px 0px 15px 19px;
}

.s-form1 {
  float: left;
  width: 246px;
  margin-bottom: 15px;
}

.big-margin {
  margin-bottom: 25px;
}

.s-form2 {
  float: left;
  width: 68px;
  margin-bottom: 15px;
}

.s-form3 {
  float: left;
  width: 178px;
  margin-bottom: 15px;
}

.s-form4 {
  float: left;
  width: 106px;
  margin-bottom: 15px;
}

.s-form5 {
  float: left;
  width: 140px;
  margin-bottom: 15px;
}

.s-form6 {
  float: left;
  width: 85px;
  margin-bottom: 15px;
}

.s-form7 {
  float: left;
  width: 401px;
  margin-bottom: 15px;
}







.s-form8 {
  float: left;
  width: 82px;
  margin-bottom: 5px;
}

.s-form9 {
  float: left;
  width: 98px;
  margin-bottom: 5px;
}

.s-input1 {
  width: 228px;
  height: 18px;
  padding: 2px 5px 0px 5px;
  border: 1px solid #809db9;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  float: left;
}

.s-input2 {
  width: 49px;
  height: 18px;
  padding: 2px 5px 0px 5px;
  border: 1px solid #809db9;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  float: left;
}

.s-input3 {
  width: 160px;
  height: 18px;
  padding: 2px 5px 0px 5px;
  border: 1px solid #809db9;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  float: left;
}

.s-input4 {
  width: 88px;
  height: 18px;
  padding: 2px 5px 0px 5px;
  border: 1px solid #809db9;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  float: left;
}

.s-input5 {
  width: 122px;
  height: 18px;
  padding: 2px 5px 0px 5px;
  border: 1px solid #809db9;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  float: left;
}

.s-input6 {
  width: 334px;
  height: 18px;
  padding: 2px 5px 0px 5px;
  border: 1px solid #809db9;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  float: left;
}

.s-input7 {
  width: 389px;
  height: 18px;
  padding: 2px 5px 0px 5px;
  border: 1px solid #809db9;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  float: left;
}

.form-speichern label{
  display: block;
  padding: 0px 0px 3px 3px;
  font-size: 11px;
  color: #4e4e51;
}

.form-speichern label span{
  display: block;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  padding-top: 5px;
}

.red-input {
  border: 1px solid #e7301f;
  color: #e7301f;
}

.form-speichern label.red-label {
  color: #e7301f;
  font-weight: bold;
}

.form-speichern select,.umkreis select{
  width: 77px;
  height: 20px;
  padding: 0px 0px 0px 0px;
  border: 1px solid #809db9;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  display: block;
  float: left;
}

.form-speichern select.days{
  width: 72px;
}

.help-box {
  background: url('gfx/helpbox/helpbox-middle.gif') right 0px repeat-y;
  margin-bottom: 28px;
  width: 378px;
}

.help-box-arrow {
  background: url('gfx/helpbox/helpbox-arrow.gif') left center no-repeat;
  width: 378px;
}

.help-box p{
  padding: 8px 10px 8px 25px;
  margin: 0px 0px 0px 0px;
  line-height: 17px;
}

.help-box p span{
  color: #e72f1e;
  font-weight: bold;
}






.help-box-border {
  width: 378px;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  background: url('gfx/helpbox/helpbox-border.gif') right 0px no-repeat;
}

.checks-speichern {
  float: left;
  width: 116px;
}

.checks-leistungen1 {
  float: left;
  width: 207px;
}

.checks-leistungen2 {
  float: left;
  width: 290px;
}

.checks-leistungen1 img,.checks-leistungen2 img {
  display: block;
  float: left;
  behavior: url('htc/iepngfix.htc');
  margin: 0px 11px 9px 0px;
  cursor: pointer;
}

.checkbox2 {
  display: block;
  float: left;
  margin: 0px 7px 0px 0px;
  position: relative;
  top: 4px;
}

.checkbox3 {
  display: block;
  float: left;
  margin: 0px 7px 0px 0px;
  position: relative;
  top: 13px;
}

.form-speichern label.ch-label {
  display: block;
  float: left;
  padding: 0px 0px 0px 0px;
  line-height: 22px;
  font-size: 11px;
  color: #4e4e51;
  font-weight: bold;
}

.form-speichern label.ch-label2 {
  display: block;
  float: left;
  padding: 0px 0px 0px 0px;
  line-height: 40px;
  font-size: 12px;
  color: #4e4e51;
  font-weight: bold;
}

.umkreis {
  margin: 0px 0px 0px 0px;
}

.umkreis label{
  margin: 0px 10px 0px 0px;
  display: block;
  float: left;
  color: #4e4e4e;
  font-size: 14px;
  line-height: 22px;
}

.umkreis label span{
  color: #000;
  font-weight: bold;
}

.umkreis select{
  margin-right: 15px;
}

.umkreis input {
  background: url('gfx/button-umkreis.png');
  /*background: #000;*/
  color: #fff;
  width: 131px;
  height: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  behavior: url('htc/iepngfix.htc');
  padding-bottom: 2px;
  font-size: 12px;
}

p.siten {
  float: left;
  width: 100px;
  line-height: 25px;
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
}

.sitening {
  margin: 0px 10px 0px 0px;
  padding: 20px 0px 30px 0px;
  list-style-type: none;
  float: left;
}

.sitening li{
  margin: 0px 8px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style-type: none;
  float: left;
  height: 25px;
  width: 25px;
}

.sitening li a{
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: #333333;
  height: 24px;
  width: 24px;
  display: block;
  line-height: 24px;
  background: url('gfx/sitening-passiv.png');
  _background: url('gfx/sitening-passiv.gif');
  _behavior: url('htc/iepngfix.htc');
  text-align: center;
  text-decoration: none;
}

.sitening li a:hover,.sitening li a.activ{
  color: #fff;
  font-size: 16px;
  background: url('gfx/sitening-activ.png');
  _background: url('gfx/sitening-activ.gif');
  _behavior: url('htc/iepngfix.htc');
  text-decoration: none;
  height: 25px;
  width: 25px;
}

.ergebnisse {
  width: 927px;
  border-top: 1px solid #cccccc;
  margin-left: 5px;
}

.ergebniss {
  width: 927px;
  border-bottom: 1px solid #cccccc;
  float: left;
}

.col1 {
  float: left;
  width: 66px;
  padding: 43px 0px 20px 0px;
}

.col1 p{
  margin: 0px 0px 0px 0px;
}

.col2 {
  float: left;
  width: 413px;
  padding: 15px 0px 20px 0px;
}

.col3 {
  float: left;
  width: 272px;
  padding: 15px 0px 20px 0px;
}

.col4 {
  float: left;
  width: 176px;
  padding: 15px 0px 20px 0px;
}

h2 {
  margin: 0px 0px 12px 0px;
  padding: 0px 0px 0px 0px;
}

h2 a{
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;  
}

.address {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin: 0px 0px 4px 0px;
}

.city {
  color: #4e4e4e;
}

.kontakt-left {
  width: 105px;
  float: left;
  margin: 0px 0px 0px 0px;
  line-height: 18px;
  font-weight: bold;
}

.kontakt-right {
  width: 290px;
  float: left;
  margin: 0px 0px 0px 0px;
  line-height: 18px;
}

.kontakt-right-last {
  width: 290px;
  float: left;
  margin: 0px 0px 15px 0px;
  line-height: 18px;
}

.link-button img{
  behavior: url('htc/iepngfix.htc');
  text-decoration: none;
}

.link-button2 img{
  behavior: url('htc/iepngfix.htc');
  text-decoration: none;
}

.link-button2 {
  margin-top: 10px;
  display: block;
  float: left;
}

.cleaner-last-kontakt {
  height: 15px;
  line-height: 0px;
  font-size: 0px;
  clear: both;
}

.cleaner-map {
  height: 5px;
  line-height: 0px;
  font-size: 0px;
  clear: both;
}

.col3 img {
  float: left;
  margin: 0px 10px 8px 0px;
  behavior: url('htc/iepngfix.htc');
}

.col4 img {
  float: left;
  behavior: url('htc/iepngfix.htc');
}

.map-link {
  padding-left: 20px;
}

.map {
  position: relative;
  top: 0px;
  left: 0px;
  width: 153px;
  height: 106px; 
}

.map-shadow {
  background: url('gfx/map-shadow.png') no-repeat;
  position: absolute;
  left: 153px;
  bottom: 0px;
  width: 13px;
  height: 82px;
}

.zuruck {

  padding: 0px 0px 0px 0px;
  border: none;
  behavior: url('htc/iepngfix.htc');
  font-size: 12px;
  line-height: 12px;
  display: block;

  text-decoration: none;
  margin: 5px 0px 20px 0px;
}

.detail-col1 {
  width: 80px;
  float: left;
  padding-bottom: 20px;
}

.detail-col2 {
  width: 427px;
  float: left;
  padding-bottom: 20px;
}

.detail-col3 {
  width: 432px;
  height: 337px;
  float: left;
  padding-bottom: 20px;
}

.detail-col1 img{
  behavior: url('htc/iepngfix.htc');
  float: left;
  margin: 0px 10px 10px 0px;
}

h3 {
  margin: 0px 0px 10px 0px;
  padding: 20px 0px 0px 0px;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  color: #e72f1e;  
}

p.m0 {
  margin: 0px 60px 0px 0px;
}

.zeiten-left {
  width: 105px;
  float: left;
  margin: 0px 0px 0px 0px;
  line-height: 18px;
  font-weight: bold;
}

.zeiten-right {
  width: 290px;
  float: left;
  margin: 0px 0px 0px 0px;
  font-weight: bold;
  line-height: 18px;
}

.zeiten-right span{
  padding: 0px 3px 0px 3px;
}

.zeiten-right span.und{
  font-weight: normal;
  color: #4e4e4e;
}




p.fliesstext {
  width: 600px;
}
