html, body{

}


#fbFooter {
	height: 49px;
	background: url('../img/katalog_footer_background.gif') center center no-repeat;
	padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;	
}

.fbPaginationMinor {
	color: #000000;
	margin-left: 10px;
}

#fbContents {
	float: left;
	margin-top: 12px;
	margin-left: 15px;	
}

#fbMenu {
	float: right;
	margin-top: 9px;
	margin-right: 15px;
}

#altmsg { 
	position: absolute;
	background-color:#000000;
	padding: 20px;
	opacity: 0.6;
	filter: alpha(opacity=60);
	text-align:center;
}
#altmsg:hover { 
	opacity: 0.8;
	filter: alpha(opacity=80);
}
a.altlink:link {
	color: #000000;
}

a.altlink:visited {
	color: #DDDDDD;
}

a.altlink:hover{
	color: #000000;
}

#recommend-form {
  margin: 25px 0 0 20px;
  
}