@charset "utf-8";

	html {background:url("../img/bg.gif") repeat-x fixed center top #4898BD;}
	body {overflow:auto;}

	h1 a {margin:60px 0 0 10px; position:absolute; border:none !important; text-indent:-9999em; background:url("/code/booklet/images/booklet.png") no-repeat 0 0; width:172px; height:88px;}
	h2 {text-indent:0; padding:0; height:1.5em;}
	h4 {color:#fff; font-size:1.2em;}
	
	#nav {margin-top:90px;}
	#nav a {color:#fff; background:none; text-indent:0; width:auto; margin-left:25px; text-transform:lowercase; text-shadow:0px 1px 3px #666;}
	#nav a:hover {color:#000; text-shadow:0 1px 0 #c1ebff;}
	#nav a.current {color:#925c0e; text-shadow:0px 1px 1px #c1ebff;}
	#header {position:static; height:160px;}
	#content {width:100%; height:auto;}
	#content ul {padding:0 0 0 10px; margin:0 0 20px 10px; line-height:20px; list-style:disc outside;}
	#content ol {padding:0 0 0 10px; margin:0 0 20px 10px; line-height:20px; list-style:decimal outside;}
	#footer {position:relative; margin-top:20px;}
	
	#bar {font-size:12px;background: none repeat scroll 0% 0% rgb(0, 0, 0); position: absolute; top: 0; left: 0; width: 100%; border-bottom:1px solid #c1ebff;}
	#bar .wrap {padding:10px 0;}
	#bar a {margin-left:20px; margin-top:4px;}
	
	.syntaxhighlighter, .syntaxhighlighter div, .syntaxhighlighter code, .syntaxhighlighter table, .syntaxhighlighter table td, .syntaxhighlighter table tr, .syntaxhighlighter table tbody {font-size:12px !important;}
	
	.code-wrap {overflow:scroll; overflow-y:auto; background:#fff; margin-bottom:20px; width:auto;}
	
	
	#donate-form {margin:0;}
	#donate-form input {background:none; height:auto; margin:0; padding:0; width:auto;}
	
	#download-btn {
	-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
    -moz-box-shadow: 0 1px 2px #333;  -webkit-box-shadow: 0 1px 2px #333; box-shadow: 0 1px 2px #333;
    background: #925C0E;
    border: none;
    display: block;
    float: left;
    padding: 10px;
    text-shadow: 0 1px 2px #333;}
	
	#download-btn:hover {
	color:#efefef;
	text-shadow: 0 -1px 0 #333;}
	
	/* @General Structure
----------------------------------------*/
    #menu     {margin:0 auto; width:1080px; height:65px; padding:0; position:relative;}
    #mybook,
    #mybook2   {margin:40px auto 20px;}
	
/* @Booklet Styling
----------------------------------------*/
	.booklet a        {color:#006699; text-decoration:none;}
	.booklet a:hover  {border-bottom:1px dotted;}
	.booklet ul       {font-size:12px; padding:0; margin:0 0 20px 10px; line-height:20px; color:#524f4a; list-style:disc outside;}
    .booklet h2,
    .booklet h3 {font-size:20px;height:auto;text-shadow:none;}
    .booklet h4 {color:#444;}
    .booklet p  {font-size:12px; padding:0 0 10px; line-height:20px; color:#524f4a;}
	
	.booklet q  {display:block; width:200px; font-size:18px; font-weight:bold; font-style:italic;}
	
    .right {float:right;}
    .left  {float:left;}
    .clear {clear:both;}

   
	.tagline {font:bold 18px "Myriad Pro"; color:#34322d; margin:10px 0; border-bottom:1px solid #928e86;}
	.caption {padding:10px; background:#999; color:#fff;}
   
	.padtop  {padding-top:64px;}
   
	/*.col-2   {width:205px; height:600px; float:left; margin-right:10px;}
	.block-4 {width:205px; height:260px; float:left; margin-right:10px;}*/