html, body{font-family:Arial;}
.flipBookArea{width:1000px;margin:0 auto 0 auto;padding:0;}
#fbContainer{text-align:center; margin:0 auto 0 auto;padding:0;font-size:11px;border:1px solid #666;-khtml-border-radius-topleft:6px;-moz-border-radius-topleft:6px;border-radius-topleft:6px;border-radius-topright:6px;-khtml-border-radius-topleft:6px;-khtml-border-radius-topright:6px;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;-ms-border-radius-topleft:6px;-ms-border-radius-topright:6px;-webkit-border-radius-topleft:6px;-webkit-border-radius-topright:6px;}
#fbContainer *{color:#333;text-decoration:none;}
#fbContainer p{margin:0 0 4px 0;padding:0;height:20px;line-height:20px;border-bottom:1px solid #666;background:url('../layout/menueBg.gif') center center repeat-y;background-color:#DEDEDE;}
#fbFooter{height:38px;background:url('../layout/menueBg.gif') center center repeat-y;background-color:#DEDEDE;font-size:11px;padding:0 10px 0 10px;border:1px solid #666;-khtml-border-radius-bottomleft:6px;-moz-border-radius-bottomleft:6px;border-radius-bottomleft:6px;border-radius-bottomright:6px;-khtml-border-radius-bottomleft:6px;-khtml-border-radius-bottomright:6px;-moz-border-radius-bottomleft:6px;-moz-border-radius-bottomright:6px;-ms-border-radius-bottomleft:6px;-ms-border-radius-bottomright:6px;-webkit-border-radius-bottomleft:6px;-webkit-border-radius-bottomright:6px;}
.fbPaginationMinor{color:#000000;margin-left:10px;}
#fbContents{float:left;margin:5px 0 0 0;padding:0;}
#fbMenu{float:right;margin:5px 0 0 0;padding:0;}
select{border:1px solid #666;background-image:url(../layout/input_bg.gif);background-repeat:no-repeat;background-position:0 0;}
#fbMenu img{border:1px solid #666;border-radius:2px;-khtml-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-webkit-border-radius:2px;}
#altmsg{position:absolute;background-color:#000000;padding:20px;opacity:0.6;filter:alpha(opacity=60);text-align:center;}
#altmsg:hover{opacity:0.8;filter:alpha(opacity=80);}
a.altlink:link{color:#000000;}
a.altlink:visited{color:#DDDDDD;}
a.altlink:hover{color:#000000;}
#recommend-form{margin:25px 0 0 20px;}
object,embed{margin:0;padding:0;}
