body, p, table, tr, td, span, div, ul, li, fieldset {
  margin: 0px;
  font-family: verdana, tahoma, arial, sans-serif;
  font-size: 11px;
}

body { 
  background-image:url("../images/background_main.gif");
  background-repeat: repeat-x;
}

fieldset {
  width: 180px;
  margin: 2px;
}

ul {
  padding-left: 14px;
}


div#header {
  height: 140px;
  position: relative;
  background-image: url(../images/header.jpg);
  background-repeat:no-repeat;
}


div#main {

}

div#contentOuter {
  width: 900px;
  height: 100%;
  margin: auto;
  position: relative;
  border: 1px solid #333333;
  background: url('../images/background_content.gif');
  background-repeat: repeat-x;
  background-color: #c2dfa5;
}

div#contentInner {
  margin: 10px;
}

div#myPageFlip {

}

div#pageBackgroundLeft {
  background-color: #eeeeee;  
}

div#pageBackgroundRight {
  background-color: #eeeeee;  
}

div#myPageFlipOuter {
  border: 1px solid #cccccc;
  overflow: hidden;
  width: 590px;
  height: 360px;
  padding: 10px;
  margin-bottom : 15px;
  background: url(/images/background_content.gif);
}

div#jPageFlipConfig {
  background-color: #dddddd;
  padding: 10px;
}

div#canvasBackground {
  position: absolute;
  top: 29px;
  left: 69px;
  border: 1px solid #ffffff;
  width: 450px;
  height: 300px;

}

.leftContent {
  padding: 10px;
  background-color: #ffffff;
}

#right {
  float:right;
  width:250px;
}


.headline {
  font-size: 12px;
  font-weight: bold;
}

div#jPageFlipConfig .expl {
  color: #ffffff;
  background-color: #888888;
}

#jPageFlipValues {
  font-family: verdana, tahoma, arial, sans-serif;
  font-size: 10px;
}

input {
  font-size: 1em;
}

input.btn, input.sbmt {
  height: auto;
  font-size: 1.1em;
}

input.cvalinput {
  width: 35px;
}

.cvalrange {
  width: 30px;
}

.smallTextGrey {
  font-size: 9px;
  color: #666666; 
}

.modulOuter {
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

.modulInner {
  margin: 8px;
  text-align: left;
}

.modulHeader {
  background-color: #67b021;
  font-size: 10px;
  color: #ffffff;
  font-weight: bold;
  padding: 5px;
  font-variant: small-caps;
}

.hintframe {
  background-color: #f8fd6f; 
  border: 1px solid #333333; 
  padding: 10px; 
  font-weight: bold;
  margin-bottom: 20px;
}

td.changelog {
  background-color: #ffffff;
}

div#footer {
  text-align: center;
}

pre {
  width: 612px; 
  background-color: #dddddd;
  margin: 5px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;       /* Opera 4-6 */
  white-space: -o-pre-wrap;       /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
