* {font-family: Arial;}
body {  font-size: 10px;}
table {border:1px solid #000;border-collapse:collapse;margin: 0 0 10px 0;}
td {padding:2px;color:#333;border:1px solid #000;}
a {	color:#000;	}
.inputField1 {height:20px;width:auto;border: 1px solid #666; }
.inputSelect1 {height:22px;width:auto;border: 1px solid #666; }

.row1 {background-color:#eee;}
.row2 {background-color:#fff;}
.clear{clear:both;}
.contentArea {width:980px;}
#pageArea{margin:0; padding:0;}
#documentArea{margin:0; padding:0;}

h2{font-size: 14px; background-color: #333;color:#FFF;margin:0;padding:2px;}
.clear { clear:both; }

#actionTypeMenueArea { font-size: 12px;background-color:#CCC; border: 1px solid #999; margin: 0 0 10px 0; padding:4px; line-height:20px; }
.actionTypeItem  { float:left; padding: 0px; margin: 0 10px 0 10px; }
.actionTypeItem input  { margin: 4px 0 0 0; }

.imageItemsArea {height: 300px;overflow:auto; margin:0 4px 10px 4px; padding:4px;border: 1px solid #333;}
.configItemsArea {width:80%;margin:0; padding:0;float:left;}
.configItemsContent {font-size:9px !important;margin:0 0 10px 0; padding:4px;border: 1px solid #333;}
.imageDir{background-color:#900;color:#FFF;margin: 4px 0 4px 0; clear:both;}
.imageFile{background-color:#DDD;margin: 0 4px 4px 4px; width:200px; float:left;}
.actionArea{ background-color:#CCC; border: 1px solid #999; margin: 10px 0 10px 0; padding:4px; line-height:20px; }

/*--------- MESSAGE ELEMENTS --------- */
#contentAreaElements .warningArea,.warningArea {font-size:11px;line-height:12px;padding:4px;border:2px solid #FF0000;background-color:#FEFFBF;font-weight:bold;color:#333;}
#contentAreaElements .infoArea,.infoArea {width:auto;font-size:11px;line-height:12px;padding:4px;border:2px solid #FF0000;background-color:#F5FF9F;font-weight:bold;color:#333;}
#contentAreaElements .errorArea,.errorArea {font-size:11px;line-height:12px;padding:4px;border:2px solid #FF0000;background-color:#FCC7CB;font-weight:bold;color:#333;}
#contentAreaElements .successArea,.successArea {font-size:11px;line-height:12px;padding:4px;border:2px solid #009900;background-color:#0F0;font-weight:bold;color:#333;}
