/**
 * alert.css - javascript alert replacement v2.4
 *
 * (c) 2009-2011 Naden Badalgogtapeh - http://www.naden.de/blog/javascript-alert
 *
 */
/**
 *
 */
div.alert-modal {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0.5;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE8 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);  /* IE7 */
}
/**
 * wrapper
 */
div.alert {
  font-family: Arial, sans-serif;
  border: 2px solid #FF0000 !important;
  background-color: #FDFF00 !important;
  padding: 5px;
  display: none;
  position: absolute;
  left:472px !important;
  z-index: 1001;
  width:498px !important;
  font-size:14px;
}
/**
 * title
 */
div.alert div.title {
  font-family: Arial;
  font-weight: bold;
  background-color: #9e9e9e;
  color: #fff;
  padding: 2px;
}
/**
 * body
 */
div.alert div.body {
  padding: 5px 0;
  font-family: Arial;
  height: 70%;
}
/**
 * button wrapper
 */
div.alert div.button {
  text-align: center;
  margin: 20px 0 6px 0px;
}
/**
 * button
 */
div.alert div.button a:link,
div.alert div.button a:active,
div.alert div.button a:visited {  
  padding: 2px 4px 2px 4px;
  background-color: #666;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-size:14px;
  width:100px !important;
}
/**
 * button hover
 */
div.alert div.button a:hover {
  background-color: #333;
  color: #fff;
}