/* compact [
	page=boutonstexte-print.css
	squelettes-dist/impression.css
] 65.4% */

/* page=boutonstexte-print.css */
.boutonstexte{display:none;}
div.onlytext{width:auto!important;}
div.onlytext a:link,div.onlytext a:visited{color:#009;background:transparent;font-weight:bold;text-decoration:underline;}
div.onlytext a:link:after,div.onlytext a:visited:after{content:" (" attr(href) ") ";font-size:90%;}
div.onlytext a[href^="/"]:after{content:" (http://www.jquery.info" attr(href) ") ";}

/* squelettes-dist/impression.css */
body{background:#FFF;margin:15pt;text-align:left;font:12pt "Luxi sans","Lucida Grande",Lucida,"Lucida Sans Unicode",sans-serif;color:#000;}
img,table{margin:0;padding:0;border:0;}
ul,ol,li{margin:0;padding:0;list-style:none;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:1em;font-weight:normal;}
#entete,#hierarchie,#navigation,#extra,#pied{display:none;}
.repondre,.repondre,.formulaire_spip{display:none;}
.spip-admin,.spip-admin-float,.spip-previsu,.invisible{display:none;}
.nettoyeur{clear:both;}
a{color:#520;text-decoration:underline;}
a.spip_out:after,a.spip_glossaire:after,a.spip_mail:after{display:inline;content:" [" attr(href) "]";}
.cartouche{margin-bottom:2em;}
.cartouche small{font-size:0.71em;}
h1{font-size:1.27em;font-weight:bold;}
.cartouche p{margin:0;padding:0;clear:left;}
.cartouche .traductions{display:none;}
.cartouche .surtitre,.cartouche .soustitre{font-size:0.82em;font-variant:small-caps;}
.spip_logos{float:right;margin-left:0.80em;}
.chapo{margin-bottom:1.5em;font-size:0.82em;font-weight:bold;line-height:1.40em;}
.hyperlien{font-size:0.82em;font-weight:bold;}
.texte{line-height:1.40em;}
.ps,.notes,#documents_portfolio,#documents_joints{clear:both;margin-top:1.40em;padding-top:0.20em;border-top:2pt solid #CCC;font-size:0.82em;}
.ps h2,.notes h2,#documents_joints h2{font-weight:bold;clear:both;}
.hyperlien,.articles li .texte{background:#FFF;margin:1em;padding:1em;border:1pt dotted #CCC;}
.forum{margin:2em 0;font-size:0.82em;}
.forum-fil ul{margin-left:0.50em;}
.forum-chapo .forum-titre{display:block;font-weight:bold;}
ul .forum-message{background:#EEE;border:1pt solid #CCC;padding:1em;margin-bottom:1em;}
.articles li{margin-bottom:1em;padding-top:0.30em;}
.articles li .titre{font-size:1.03em;font-weight:bold;}
.articles li p{margin:0;padding:0;}
.articles li small{display:block;font-size:0.71em;}
.page_plan #contenu h2{font-size:1.15em;font-weight:bold;}
.page_plan #contenu ul{margin-left:1em;margin-bottom:1em;}
.page_plan #contenu li{list-style:square;}

