div.vorteil {
    width: 410px;
    float: left;
    margin-bottom: 20px;
    margin-right: 30px;
    padding-right: 5px;
}

.detail-col2 h2 {
  font-size: 19px;
  padding-right: 10px;
}

div.vorteil .image {
    float: left;
    width: 125px;
    text-align: center;
}

div.vorteil .image img {
  behavior: url('htc/iepngfix.htc');
}

div.vorteil .text {
    float: left;
    width: 285px;
}

div.vorteil .text h2 {
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    color: #e72f1e;
    padding: 0 0 8px 0;
    margin: 0;
}

div.vorteil .text p {
    color: #000000;
    font-size: 12px;
    font-size: normal;
    padding: 0 0 0px 0;
    margin: 0;
}

.einloggen-button {
  background: url('gfx/button-einloggen.png');
  behavior: url('htc/iepngfix.htc');
  color: #fff;
  width: 181px;
  height: 26px;
  padding-bottom: 2px;
  position: relative;
  left: 323px;
  *left: 310px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}


.kontaktform-button {
  background: url('gfx/button-kontakt.png');
  behavior: url('htc/iepngfix.htc');
  color: #fff;
  width: 181px;
  height: 26px;
  padding-bottom: 2px;
  position: relative;
  left: 323px;
  *left: 310px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}



textarea {
  font-family: arial, sans serif;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  padding: 8px;
  width: 326px;
  border: 1px solid #809db9;
}


label.contact_radio {

}

input.kontakt {
  float: left;
}

.anrede_container {
  float: left;
  width: 70px;
}

.newsletterbox {
    height: 110px;
    text-align: left;
    margin: 30px 0 0px 0;
}

.newsletterbox .left {
    float: left;
    width: 500px;
    border-right: 1px solid #CCCCCC;
}

.newsletterbox .right {
    float: left;
    width: 340px;
    padding-left: 70px;
}

.newsletterbox h4 {
    margin: 0;
    padding: 0 0 5px 0;
}

.newsletterbox .left img {
  float: right;
  margin-right: 15px;
  padding: 17px 50px 15px 0px;
}


.newsletter_abonnieren_button_pos {
  margin-top: 4px;
}


label.newsletter_label {
  display: block;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 0px;
  font-size: 11px;
  color: #4e4e51;
}

.inputbox_left {
  float:left;
  width: 90px;
  margin-top: 5px;
}

.inputbox_right {
  float:left;
  width: 120px;
  margin-top: 5px;
}


.feedbackbox {
  background: url('gfx/hinweis_icon.gif') 6px center no-repeat;
  border: 1px solid #809EBA;
  background-color: #FBFCFD;
  padding: 15px 14px 0px 48px;
  width: 457px;
  margin: 7px 0 23px 16px;
}

.downloadbox {
  background: url('gfx/icons/pdf_icon.gif') 9px center no-repeat;
  border: 1px solid #809EBA;
  background-color: #FBFCFD;
  padding: 15px 14px 0px 90px;
  width: 457px;
  margin: 20px 0 23px 16px;
}

.downloadbox h4{
  margin: 0;
  padding: 0 0 5px 0;
}

.downloadbox h4 a {
  margin:0;
  padding: 0;
  font-size: 16px;
}

h1.fliesstext {
  padding: 0 0 25px 0;
  margin: 0;
  display: block;
  position: relative;
}

h2.fliesstext {
  padding: 15px 0 15px 0;
  margin: 0;
  display: block;
  position: relative;
}












.footer img{
  padding: 25px 50px 15px 0px;
  }
  
  
.box-bottom-search {
  width: 430px;
  height: 27px;
  font-size: 0px;
  line-height: 0px;
  background: url('gfx/form-box/bottom_search.png') 0px 0px no-repeat;
  behavior: url('htc/iepngfix.htc');
}



.suche-button {
  margin-left: 197px;
}


.weiterempfehlen-button {
  background: url('gfx/button-weiterempfehlen.png');
  behavior: url('htc/iepngfix.htc');
  background-repeat: no-repeat;
  /*background: #000;*/
  color: #fff;
  width: 217px;
  height: 26px;
  padding-bottom: 2px;
  position: relative;
  left: 325px;
  *left: 312px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}



.box-bottom-big_no_button {
  width: 522px;
  height: 27px;
  margin-left: 15px;
  font-size: 0px;
  line-height: 0px;
  background: url('gfx/form-box/bottom-big_no_button.png') 0px 0px no-repeat;
  behavior: url('htc/iepngfix.htc');
}

.s-form10 {
  float: left;
  width: 401px;
  margin-bottom: 10px;
}


p span.caps {
  font-weight: normal;
  color: #000000;
}

.zuruck {
  width: 184px;
  text-align: left;
}

.png_trans {
  behavior: url('htc/iepngfix.htc');
}

.black {
  color: black;
}