/*
 $Id: clean.css 518 2011-10-28 08:09:07Z namiltd $
 */
a {
    text-decoration: none;
    color: #c03000;
}

a:hover {
    text-decoration: underline;
}* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    height: 100%;
    color: #333;
}

body {
    font-family: Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
    font-size: .75em;
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    margin: 0 auto;
    padding: 20px 0 10px 0;
}

h1 {
    margin: 0 10px;
    _margin: 0 15px 0 10px; /* ie6 */
    padding: 10px 10px;
    text-align: center;
    font-family: Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
    font-size: 130%;
    line-height: 1.5em;
    color: #224970;
}

#select {
    text-align: right;
}

#select select {
    width: 100px;
    font-family: Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
}

#vitals, #network, #memory, #filesystem, #hardware, #temp, #voltage, #fan, #ups {
    float: left;
    width: 451px;
    margin: 10px 0 0 10px;
    _margin: 10px 5px 0 5px; /* ie6 */
    color: #000;
}

h2 {
    font-family: Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
    font-size: 120%;
    padding: 3px 10px;
    text-transform: uppercase;
    line-height: 1.5em;
    color: #224970;
    text-align: left;
}

table {
    width: 100%;
    border-top: solid 2px #DADADA;
    border-bottom: solid 2px #DADADA;
    background-color: #F3F8FC;
}

.plugin {
    float: left;
    margin: 10px 0 0 10px;
    _margin: 10px 5px 0 5px; /* ie6 */
    padding: 1px;
}

.treeTable {
    border: none;
}

th, td, h3 {
    padding: 4px 10px 2px 10px;
    text-align: left;
    vertical-align: top;
    font-size: 100%;
}

#footer {
    clear: both;
    color: #000;
    margin: 12px;
    padding: 13px 25px;
    line-height: 18px;
    font-size: 80%;
    text-align: center;
}

#memory, #filesystem {
    width: 915px;
}

.bar {
    background-color: #2F659B;
}

p {
    padding: 4px 10px 2px 10px;
    line-height: 1.6;
    text-align: left;
    vertical-align: top;
}

table th {
    color: #333300;
}

#filesystemTable thead tr .header {
    background-image: url("../gfx/bg.gif");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#filesystemTable thead tr .headerSortUp {
    background-image: url("../gfx/asc.gif");
    color: #c03000;
}

#filesystemTable thead tr .headerSortDown {
    background-image: url("../gfx/desc.gif");
    color: #c03000;
}

.right {
    text-align: right;
    padding-right: 20px;
}

#pciTable, #ideTable, #scsiTable, #usbTable {
    padding: 0px 30px;
}