/*
 $Id: nextgen.css 518 2011-10-28 08:09:07Z namiltd $
 */
a {
    text-decoration: none;
    color: #00A;
}

a:hover {
    text-decoration: underline;
    color: #7D9100;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: url("nextgen/nextgen_bg.png") repeat-x scroll center top #F3F1E9;
}

body {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    margin: 0 auto;
    padding: 20px 0 10px 0;
    font: 0.75em arial, tahoma, helvetica, sans-serif;
    color: #000;
}

div#container {
    margin: -20px -10px 0 -10px; 
    padding: 116px 0 0 0;
}

h1 {
    position: absolute;
    top: 35px;
    left: 10px;
    margin: 0;
    padding: 0px 10px;
    font-size: 2em;
    font-weight: normal;
    color: #fff;
}

#select {
    position: absolute;
    top: 75px;
    color: #FFF;
    right: 30px;
    width: 370px;
    text-align: right;
}

#select select {
    width: 100px;
}

#vitals, #network, #memory, #filesystem, #hardware, #temp, #voltage, #fan, #ups {
    float: left;
    width: 451px;
    margin: 10px 0 0 10px;
    _margin: 10px 5px 0 5px; /* ie6 */
    padding: 1px;
    border: 1px solid #354242;
}

h2 {
    padding: 5px 10px;
    font-family: "trebuchet ms";
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.0em;
    text-transform: uppercase;
    color: #C9DE55; /* #7D9100; */
    background: #354242;
}

table {
    width: 100%;
}

.plugin {
    float: left;
    margin: 10px 0 0 10px;
    _margin: 10px 5px 0 5px; /* ie6 */
    padding: 1px;
    border: 1px solid #354242;
}

.dataTables_wrapper{
    margin: 0 0 0 0 !important;
    border: 0px !important;
}


th, td, h3 {
    padding: 4px 10px 2px 10px;
    text-align: left;
    vertical-align: top;
}

h3 {
    font-size: 120%;
}

.even {
    background: #DDD;
}

#footer {
    color: #777777;
    clear: both;
    margin: 12px;
    padding: 13px 25px;
    line-height: 18px;
    text-align: right;
}

#memory, #filesystem {
    width: 915px;
}

.bar {
    background: #C1DC70 url("../gfx/html.gif");
}

p {
    padding: 4px 10px 2px 10px;
    line-height: 1.6;
    text-align: left;
    vertical-align: top;
}

.right {
    text-align: right;
    padding-right: 20px;
}

#pciTable, #ideTable, #scsiTable, #usbTable {
    padding: 0px 30px;
}
