/*
 $Id: two.css 518 2011-10-28 08:09:07Z namiltd $
 */
a {
    text-decoration: none;
    color: #c03000;
}

a:hover {
    text-decoration: underline;
}* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    height: 100%;
    color: #2B2828;
    background: url("two/gradient.png") repeat-x #EEF2FE;
}

body {
    font-family: Verdana, "Bitstream Vera Sans";
    font-size: .75em;
    position: relative;
	width: 100%;
    min-height: 100%;
    overflow: auto;
    margin: 0 auto;
    padding: 20px 0 10px 0;
}

h1 {
    margin: 0 10px;
    _margin: 0 15px 0 10px; /* ie6 */
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 170%;
    line-height: 1.5em;
}

#select {
    color: #fff;
    text-align: right;
    margin-bottom: 45px;
}

#select select {
    width: 100px;
}

h2 {
    font-weight: bold;
    font-size: 130%;
    line-height: 1.5em;
    color: #8B272A;
    border-bottom: 2px solid #8B272A;
}

table {
    width: 100%;
}

.plugin {
    float: left;
    margin: 10px 0 0 10px;
    _margin: 10px 5px 0 5px; /* ie6 */
    padding: 1px;
}

th, td, h3 {
    padding: 4px 10px 2px 10px;
    text-align: left;
    vertical-align: top;
    font-size: 100%;
}

#footer {
    clear: both;
    color: #5C5C5C;
    margin: 12px;
    padding: 13px 25px;
    line-height: 18px;
    font-size: 80%;
    text-align: center;
}

.bar {
    background-color: #8B272A;
}

#vitals, #network, #memory, #filesystem, #hardware, #temp, #voltage, #fan, #ups {
    float: left;
    width: 451px;
    margin: 10px 0 0 10px;
    _margin: 10px 5px 0 5px; /* ie6 */
    padding: 1px;
}

#memory, #filesystem {
    width: 915px;
}

#filesystemTable thead tr .header {
    background-image: url("../gfx/bg.gif");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#filesystemTable thead tr .headerSortUp {
    background-image: url("../gfx/asc.gif");
    color: #FD6200;
}

#filesystemTable thead tr .headerSortDown {
    background-image: url("../gfx/desc.gif");
    color: #FD6200;
}

.right {
    text-align: right;
    padding-right: 20px;
}

#pciTable, #ideTable, #scsiTable, #usbTable {
    padding: 0px 30px;
}