div.container {
  width: 667px;
  padding: 10px;
  border: 1px dashed #666;
  background-color: #f9f9f9;
  }

div.float {
  border: 1px solid #666;
  background-color: #cccbcc;
  margin-right:2px;
  margin-bottom:2px;
  width: 655px;
  padding: 5px;
  float: left;
  }
div.floatl {
  border: 1px solid #666;
  background-color: #f9f9f9;
  margin-right:2px;
  margin-bottom:2px;
  width: 200px;
  padding: 5px;
  float: left;
  overflow: hidden;
  }
div.floatr {
  border: 1px solid #666;
  background-color: #f9f9f9;
  margin-bottom:2px;
  width: 440px;
  padding: 5px;
  float: left;
  }

div.spacer {
  clear: both;
  }

div.floatl p, div.floatr p {
  font-size: 9px;
  text-align: center;
  }