/*
 $Id*
 */
a {
    text-decoration: none;
    color: #c03000;
}

a:hover {
    text-decoration: underline;
}* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: transparent;
}

body {
    position: relative;
    width: 95%;
    min-height: 100%;
    overflow: auto;
    margin: 0 auto;
    padding: 20px 0 10px 0;
    font: 62.5% arial, tahoma, helvetica, sans-serif;
    color: #000;
	background-color:#FFFFFF;
}

h1 {
    margin: 0 10px;
    _margin: 0 15px 0 10px; /* ie6 */
    padding: 10px 10px;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
    font-size: 2em;
    font-weight: normal;
    color: #fff;
    background: #569FD6;
}

#select {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 370px;
    text-align: right;
}

#select span {
    color: #FFF;
}

#select select {
    width: 100px;
}

#vitals, #network, #memory, #filesystem, #hardware, #temp, #voltage, #fan, #ups {
    float: left;
    width: 95%;
    margin: 10px 0 0 8px;
    _margin: 10px 4px 0 4px; /* ie6 */
    padding: 1px;
    border: 2px solid #666666;
    background: #fff;
}

h2 {
    padding: 5px 10px;
    font-family: "trebuchet ms";
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.0em;
    text-transform: uppercase;
    color: #fff;
}

table {
    width: 95%;
    font-size: 1.2em;
    background-color: #fff;
}

.plugin {
    float: left;
    margin: 10px 0 0 8px;
    _margin: 10px 4px 0 4px; /* ie6 */
    padding: 1px;
    border: 2px solid #666666;
    background: #fff;
}

.dataTables_wrapper{
    margin: 0 0 0 0 !important;
    border: 0px !important;
}

th, td, h3 {
    padding: 4px 4px 2px 4px;
    text-align: left;
    vertical-align: top;
}

h3 {
    font-size: 120%;
}


.even {
    background: #E4EBF3;
}


#footer {
    clear: both;
    color: #000;
    margin: 12px;
    padding: 13px 25px;
    line-height: 18px;
}

h1 {
    background: #666666;
}

h2 {
    background: #666666;
    text-align: left;
}

#memory, #filesystem {
    width: 95%;
}

.bar {
    background: #2971A7;
}

p {
    padding: 4px 10px 2px 10px;
    line-height: 1.6;
    text-align: left;
    vertical-align: top;
}

#filesystemTable thead tr .header {
    background-image: url("../gfx/bg.gif");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

table tfoot td {
    color: #2E2E2E;
}

#filesystemTable thead tr .headerSortUp {
    background-image: url("../gfx/asc.gif");
    color: #c03000;
}

#filesystemTable thead tr .headerSortDown {
    background-image: url("../gfx/desc.gif");
    color: #c03000;
}

.right {
    text-align: right;
    padding-right: 20px;
}

#pciTable, #ideTable, #scsiTable, #usbTable {
    padding: 0px 30px;
}
