<!-- BEGIN DB_NAME_TRUE -->
<script language="javascript" type="text/javascript">setMenuActive('m2');parent.mysqli_Dumper_content.location.href='./config_overview.php';</script>
<!-- END DB_NAME_TRUE -->

<!-- BEGIN DB_NAME_FALSE -->
<script language="javascript" type="text/javascript">setactiveMenuFromContent();</script>
<!-- END DB_NAME_FALSE -->

</body>
</html>