<?php
	// DEFINE
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>FLIP-Katalog</title>

	<link rel="stylesheet" href="{###DIRECTORY_FLIPBOOK###}css/flipbook.css" type="text/css" />

	<script type="text/javascript" src="{###DIRECTORY_FLIPBOOK###}js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="{###DIRECTORY_FLIPBOOK###}js/animatedcollapse.js"></script>
	<script type="text/javascript">
		animatedcollapse.addDiv('recommend-form', 'fade=1');
		animatedcollapse.init();
	</script>
	<script type="text/javascript" src="{###DIRECTORY_FLIPBOOK###}js/liquid.js"></script>
	<script type="text/javascript" src="{###DIRECTORY_FLIPBOOK###}js/swfobject.js"></script>
	<script type="text/javascript" src="{###DIRECTORY_FLIPBOOK###}js/flippingbook.js"></script>	
	<script type="text/javascript" src="{###DIRECTORY_FLIPBOOK###}js/{###BOOK_SETTINGS###}"></script>

</head>

<body>

	<div class="flipBookArea">
		<div id="fbContainer">
			<a class="altlink" href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash">Sie ben&ouml;tigen den Adobe Flash Player f&uuml;r Ihren Browser, um den Katalog ansehen zu k&ouml;nnen. Laden Sie ihn direkt bei Adobe herunter!</a>
		</div>
		<div id="fbFooter">
			<div id="fbContents">
				<b>Kategorienauswahl: </b><select id="fbContentsMenu" name="fbContentsMenu">
				</select>
				<span class="fbPaginationMinor">Seiten &nbsp;</span> <span id="fbCurrentPages">1</span> 
				<span id="fbTotalPages" class="fbPaginationMinor"></span>
			</div>
			<div id="fbMenu">
				<!--
				<a href="javascript:animatedcollapse.toggle('recommend-form')" class="lightwindow">
					<img src="{###DIRECTORY_FLIPBOOK###}layout/button_weiterempfehlen.gif" alt="Katalog weiterempfehlen" />
				</a>
				-->			
				<img src="{###DIRECTORY_FLIPBOOK###}layout/zoom.gif" width="30" height="24" border="0" id="fbZoomButton" title="Seite vergr&ouml;&szlig;ern" alt="Seite vergr&ouml;&szlig;ern" style="margin-right: 10px;" />
				<img src="{###DIRECTORY_FLIPBOOK###}layout/download.gif" width="30" height="24" border="0" id="fbDownloadButton" title="Katalog herunterladen" alt="Katalog herunterladen" />
				<img src="{###DIRECTORY_FLIPBOOK###}layout/print.gif" width="30" height="24" border="0" id="fbPrintButton" title="Seite(n) ausdrucken" alt="Seite(n) ausdrucken" style="margin-right: 10px;" />
				<img src="{###DIRECTORY_FLIPBOOK###}layout/backward.gif" width="30" height="24" border="0" id="fbBackButton" title="Seite zur&uuml;ck bl&auml;ttern" alt="Seite zur&uuml;ck bl&auml;ttern" />
				<img src="{###DIRECTORY_FLIPBOOK###}layout/forward.gif" width="30" height="24" border="0" id="fbForwardButton" title="Seite vorw&auml;rts bl&auml;ttern" alt="Seite vorw&auml;rts bl&auml;ttern" />
			</div>
		</div>
	</div>

</body>
</html>