/* compact [
	squelettes-dist/spip_formulaires.css
	squelettes/habillage.css
] 68.4% */

/* squelettes-dist/spip_formulaires.css */
input,select,textarea{font-size:100%;font-family:inherit;}
.formulaire_spip{clear:both;margin-bottom:2em;padding:0;border:0;text-align:left;font-size:1em;}
.formulaire_spip form{margin:0;padding:0;}
.formulaire_spip fieldset{clear:both;margin:0 0 1em 0;padding:0;border:0;}
.formulaire_spip fieldset legend{margin:0;padding:0;font-size:1.05em;font-weight:bold;background-color:#fff;color:#333;}
.formulaire_spip fieldset fieldset{margin-top:1em;}
.formulaire_spip fieldset fieldset legend{font-size:1em;font-weight:normal;}
.formulaire_spip .explication{margin:0.50em 0;color:#444;}
.formulaire_spip ul{margin:0;padding:0;list-style:none;}
.formulaire_spip ul li{clear:both;margin:0;padding:0.50em 0;}
.formulaire_spip label{display:block;text-align:left;color:#444;font-weight:bold;position:relative;}
.formulaire_spip li p{margin-top:0;margin-bottom:0;}
.formulaire_spip .choix label{display:inline;font-weight:normal;}
.formulaire_spip .choix input.radio,.formulaire_spip .choix input.checkbox{width:auto;}
.formulaire_spip input.text{width:15em;border:1px inset;}
.formulaire_spip textarea{width:99%;border:1px inset;}
.formulaire_spip select{width:99%;}
.formulaire_spip .boutons{clear:both;margin:0;padding:0;text-align:right;}
.formulaire_spip .boutons input{margin-left:1em;}


.formulaire_spip fieldset.previsu{margin-bottom:2em;padding:1em;border:2px dashed #F57900;}
.formulaire_spip fieldset.previsu legend{padding:0 0.50em;font-weight:bold;color:#F57900;}
.formulaire_spip fieldset.previsu li{padding:3px;border:none;}
.formulaire_spip fieldset.previsu p{margin:1em 0;}
.reponse_formulaire{font-weight:bold;color:#e86519;font-size:1.20em;}
fieldset.reponse_formulaire{border-color:#e86519;font-weight:normal;}
fieldset.reponse_formulaire.reponse_formulaire legend{color:#F57900;}
.formulaire_spip li.erreur .erreur_message{display:block;color:#C30;font-weight:bold;}
.formulaire_spip li.erreur input.text,.formulaire_spip li.erreur textarea{background-color:#FCC;border-style:solid;border-color:#C30;}
.reponse_formulaire_erreur{margin:0;color:#C30;font-weight:bold;}
.reponse_formulaire_ok{margin:0;color:#53AD20;font-weight:bold;}
table.spip_barre{width:100%;}
table.spip_barre a img{background:#FDA;padding:3px;border:1px outset #CC9;}
table.spip_barre a:focus img,table.spip_barre a:hover img,table.spip_barre a:active img{background:#FFF;border:1px solid #CC9;}
table.spip_barre input.barre{width:99%;background:transparent;border:0;color:inherit;}
.formulaire_forum .saisie_titre input.text,.formulaire_forum .saisie_titre textarea{width:98%;}
.formulaire_menu_lang{margin:0;padding:0;background:none;}
.formulaire_recherche{margin:0;padding:0;background:none;}
.formulaire_recherche *{display:inline;vertical-align:middle;}
.formulaire_recherche input.text{width:10em;padding-left:25px;background:#FFF url("http://www.jquery.info/squelettes-dist/rechercher.gif") no-repeat left center;}

ul.choix_mots{display:block;margin:0;padding:0;list-style:none;}
ul.choix_mots li{clear:none;float:left;display:block;width:30%;padding:1%;}
ul.choix_mots li label{display:inline;font-weight:normal;}
.formulaire_spip .bugajaxie{display:none;}
.formulaire_login ul li{clear:left;}
.formulaire_login .editer_password .details{display:block;}
.formulaire_login #spip_logo_auteur{float:right;}

/* squelettes/habillage.css */
.spip_puce{list-style-position:outside;}
h3.spip{text-align:center;margin-top:2em;color:#933211;margin-bottom:1.4em;padding-top:1.4em;border-top:1px solid #cfcfcf;font-size:1.15em;font-weight:bold;}
blockquote.spip,.spip_serif{font-family:Georgia,Times,serif;}
blockquote.spip{border-left:3px solid #933211;margin:1em;padding:0.5em;}
.spip_poesie{margin:1em;padding-left:1em;border-left:1px solid;font-family:Garamond,Georgia,Times,serif;}
.spip_poesie div{text-indent:-60px;margin-left:60px;}
.spip_code,.spip_cadre{font-family:monospace;font-style:normal;font-size:1.2em;}
div.spip_code{background:#fafafa url("http://www.jquery.info/squelettes/images/bg_code.gif") left top no-repeat;padding:1.9em 0.5em 0.5em;}.spip_cadre{width:99%;border:1px inset;}
.spip_surligne{background:#FF6;}
table.spip{margin:auto;margin-bottom:1em;border:1px solid;border-collapse:collapse;}
table.spip caption{caption-side:top;text-align:center;margin:auto;padding:3px;font-weight:bold;}
table.spip tr.row_first{background:#333;color:#DDD;}
table.spip tr.row_odd{background:#DDD;}
table.spip tr.row_even{background:#EEE;}
table.spip th,table.spip td{padding:3px;text-align:left;vertical-align:middle;}
img,.spip_logos{margin:0;padding:0;border:none;}
.spip_documents{text-align:center;}
.spip_documents p{margin-top:1px;margin-bottom:2px;}
.spip_documents_center{clear:both;width:100%;margin:auto;}
span.spip_documents_center{display:block;margin-top:1em;}
.spip_documents_left{float:left;margin-right:15px;margin-bottom:5px;}
.spip_documents_right{float:right;margin-left:15px;margin-bottom:5px;}
.spip_doc_titre{font-weight:bold;font-size:0.8em;margin-left:auto;margin-right:auto;}
.spip_doc_descriptif{clear:both;font-size:0.8em;margin-left:auto;margin-right:auto;}
.format_png{behavior:url("http://www.jquery.info/squelettes/win_png.htc");}
.spip_modele{float:right;display:block;border:1px dotted #666;width:180px;}
table.spip_barre{width:100%;}
table.spip_barre a img{background:#fafafa;padding:3px;border:1px outset #999;}
table.spip_barre a:hover img{background:#eee;border:1px solid #999;}
table.spip_barre input.barre{width:100%;background:#EEE;}
a.spip_in{color:#900;}
a.spip_out{color:#009;}
a.spip_url{color:#009;}
a.spip_glossaire{color:#060;}
.on{font-weight:bold;color:#000;}
body{background:#eee url("http://www.jquery.info/squelettes/images/bg_body.png") left top repeat-x;text-align:center;font-size:1em;color:#333;margin:0;}
img,table{margin:0;padding:0;border:none;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:1em;font-weight:normal;}
.onlytext_wrapper{background-image:none;}
#page{width:54em;text-align:left;margin-left:auto;margin-right:auto;}
#conteneur{width:100%;}
#conteneur #contenu{float:left;width:33em;}
#conteneur #navigation{float:right;width:18em;text-align:center;}
#contenu .contre-encart{float:left;width:21em;background-color:#d4d4d4;}
#contenu .encart{float:right;width:11em;margin:0;margin-bottom:1em;}
#entete{width:100%;margin-top:5px;margin-bottom:11px;}
#entete a .spip_logos{display:block;float:left;}
#entete #nom_site_spip{float:left;font-weight:bold;color:white;margin:5px;font-size:1.5em;}
#entete a{text-decoration:none;}
#entete .formulaire_recherche{float:right;clear:none;margin-top:18px;}
#entete .formulaire_recherche input.text{width:13em;padding-left:0;background:#fff;}
#entete .formulaire_recherche input.submit{background:transparent;border:2px solid #fafafa;color:#fafafa;}
#entete #slogan{margin-top:3px;font-size:x-small;font-weight:normal;color:#74d218;}
#entete #liens{width:500px;float:right;text-align:right;}
#entete #liens a{font-size:small;color:white;}
#entete #liens a:hover{color:#74d218;}
#hierarchie{clear:both;margin-bottom:2em;font-size:0.77em;}
#pied{clear:both;margin-top:4em;background:#333;border-top:1px solid #74d218;padding:1em 2px 2px;text-align:center;}
#pied_contenu{width:54em;margin:0 auto;}
#pied #utils{float:left;width:18%;margin:1em 1em 1em 2em;padding:0;list-style:none;font-size:0.77em;text-align:left;color:#fff;}
#pied #utils li{border-bottom:1px dotted #6e6e6e;padding:1em 0;}
#pied #utils a{color:#fff;}
#pied #utils a:hover{text-decoration:none;color:#74d218;}
#pied img{vertical-align:bottom;margin-right:5px;}
#pied .forums,#pied .syndic{float:left;width:35%;margin:1em;text-align:left;font-size:0.77em;color:#6e6e6e;}
#pied .forums ul,#pied .syndic ul{list-style:none;padding:0;margin:0;}
#pied .forums ul li,#pied .syndic ul li{border-bottom:1px dotted #6e6e6e;padding:0.4em 0;}
#pied .forums a,#pied .syndic a{color:#fff;}
#pied .forums a .spip_code{color:#74d218;}
#pied .forums a:hover,#pied .syndic a:hover{text-decoration:none;color:#74d218;}
#pied .syndic em{font-style:normal;}
#pied .syndic em a{color:#6e6e6e;}
#pied h2{color:#74d218;text-align:left;font-size:1.2em;border:none;padding:0;}
#pied hr{clear:both;visibility:hidden;}
.nettoyeur{clear:both;margin:0;padding:0;border:none;height:0;line-height:1px;font-size:1px;}
.invisible{position:absolute;top:-3000em;height:1%;}
body,#navigation,.encart,.formulaire_spip{font-family:Verdana,Tahoma,Arial,sans-serif;}
#contenu{font-family:"Trebuchet MS",Helvetica,sans-serif;}
q,blockquote,.liste-articles li .texte,h3.spip,.voirskel,.forum-decompte{font-family:Georgia,Times,serif;}
.rubriques,.breves,.divers,#navigation .syndic,#navigation .forums{min-width:10em;border:1px solid #CCC;margin-bottom:1em;font-size:0.77em;}
.rubriques h2{padding:0.2em 0.4em;border-bottom:1px dotted #CCC;text-align:center;font-weight:bold;}
#navigation p,.encart p{margin:0;padding:0.2em 0.7em;text-align:left;}
#navigation ul,.encart ul{margin:0;padding:0.2em 0;text-align:left;list-style:none;}
#navigation li,.encart li{margin:0;padding:0 0.7em;}
#navigation li a{display:block;padding:0.2em 1em;background:transparent url("http://www.jquery.info/squelettes/images/bg_li.gif") left 50% no-repeat;text-decoration:none;}
#navigation li a:hover,#navigation li a.on{background:transparent url("http://www.jquery.info/squelettes/images/bg_li_h.gif") left 50% no-repeat;}
#navigation li a .spip_code{color:#74d218;}
.rubriques,.breves,.divers,#navigation .syndic,#navigation .forums{background:#fafafa;}
.menu.rubriques h2,.breves h2,.divers h2,#navigation .syndic h2,#navigation .forums h2{background:#333;color:#fff;border:none;padding:0.7em;}
.breves .menu-titre a,.syndic .menu-titre a,.forums .menu-titre a,.divers .menu-titre a{color:#fff;}
.cartouche{margin-bottom:2em;}
.cartouche .titre{font-size:1.8em;font-weight:bold;color:#933211;}
.cartouche .titre .spip_code{color:#74d218;}
#contenu .surtitre,#contenu .soustitre{font-size:0.82em;}
.cartouche .spip_logos{float:right;margin-left:16px;margin-bottom:16px;}
.cartouche p{margin:0;padding:0;clear:left;}
.cartouche small{font-size:0.71em;}
.cartouche .traductions{font-size:0.71em;}
.cartouche .traductions *{display:inline;}
.cartouche .traductions li{padding-left:1em;}
.chapo{margin-bottom:1.5em;font-weight:bold;line-height:1.4em;}
.lien{background:#EEE;margin:1em;margin-bottom:1.5em;padding:0.82em;border:1px solid #CCC;font-size:0.82em;font-weight:bold;}
.texte{color:#000;font-size:0.96em;line-height:1.4em;}
.texte h4{margin-bottom:0.7em;font:italic 1.03em Georgia,Times,serif;}
.ps,.notes{margin-top:1.4em;padding-top:2px;border-top:2px solid #CCC;}
.ps{font-size:0.82em;}
.notes{clear:both;font-size:0.77em;}
.ps h2,.notes h2{font-size:1.19em;font-weight:bold;}
#documents_portfolio{clear:both;margin-top:1.4em;padding-top:2px;border-top:2px solid #CCC;}
#documents_portfolio h2{margin-bottom:0.4em;font-size:0.88em;font-weight:bold;}
#document_actif{margin-top:1em;}
#documents_joints{margin-top:1.4em;padding-top:2px;border-top:2px solid #CCC;}
#documents_joints h2{margin-bottom:0.4em;font-size:0.88em;font-weight:bold;}
#documents_joints ul{margin:0;padding:0;list-style:none;}
#documents_joints li{margin-bottom:0.4em;}
#documents_joints li .spip_doc_titre small{font-weight:normal;}
.liste-articles ul{margin:0;padding:5px;list-style:none;}
.liste-articles li{margin-bottom:1em;clear:both;}
.liste-articles li .titre{font-size:1.03em;font-weight:bold;background:#333;padding:0.2em 0;}
.liste-articles li .titre a{color:#fff;padding-left:0.6em;}
.liste-articles li .titre a:hover{text-decoration:none;color:#74d218;}
.liste-articles li .spip_logos{float:right;margin-left:16px;margin-bottom:16px;clear:right;}
.liste-articles li p{margin:0;padding:0;}
.liste-articles li .enclosures{float:right;text-align:right;max-width:60%;margin:0;}
.liste-articles li small{display:block;font-size:0.71em;background:#fafafa;padding-left:0.9em;}
.liste-articles li .texte{background-color:#fafafa;margin-bottom:2em;border:1px solid FEE0BE;padding:0.9em;font-size:0.82em;line-height:1.4em;}
.pagination{font-size:0.90em;}
#accordeon li{margin:0;border-bottom:1px dotted #6e6e6e;}
#accordeon li .titre{background:#333 url("http://www.jquery.info/squelettes/images/titre_open.gif") 99% 50% no-repeat;}
#accordeon li h3.selected{background:#333 url("http://www.jquery.info/squelettes/images/titre_close.gif") 99% 50% no-repeat;}
#accordeon li .titre .spip_code{color:#74d218;}
#accordeon li .texte{margin-bottom:0;}
#accordeon li .nettoyeur{display:block;}
.page_plan .cartouche{display:none;}
.page_plan #contenu h2{clear:both;background:#333;border:1px solid #CCC;padding:0.5em;font-weight:bold;text-align:center;}
.page_plan #contenu h2 a{color:#fff;}
.page_plan #contenu h2 a:hover{text-decoration:none;color:#74d218;}
.page_plan #contenu .contre-encart,.page_plan #contenu .encart{float:none;width:100%;background:#fafafa;}
.page_plan #contenu .contre-encart ul{display:block;clear:left;margin-top:0;margin-bottom:1em;padding-top:0;}
.page_plan #contenu .encart h3.menu-titre{text-align:center;font-weight:bold;font-size:0.88em;background:#eee;padding-bottom:1em;}
.formulaire_spip{text-align:left;font-size:0.77em;}
.formulaire_spip p{margin:0.5em 0;padding:0;}


.formulaire_spip .forml{width:99%;font-family:inherit;font-size:inherit;}
.spip_bouton{text-align:right;}
.spip_bouton input{float:right;}
.reponse_formulaire{font-weight:bold;color:#e86519;}
fieldset.reponse_formulaire{border-color:#e86519;font-weight:normal;}
fieldset.previsu{padding:1em;}
.formulaire_login_forum .forml{width:12em;}
.formulaire_login_forum .spip_logos{float:right;padding-left:10px;}
ul.choix_mots{float:left;width:47%;margin:0;padding:0;list-style:none;}
ul.choix_mots label{display:inline;}
.formulaire_recherche{float:right;background:none;margin:0;padding:0;}
.formulaire_recherche label{display:none;}
.formulaire_recherche input.forml{width:12em;}
.formulaire_recherche input.bouton{vertical-align:middle;}
a.contact{display:block;margin-top:1em;padding-left:30px;background:transparent url("http://www.jquery.info/squelettes/images/mail.gif") left bottom no-repeat;}
.formulaire_ecrire_auteur{margin-bottom:1em;}
#formulaire_inscription{background:transparent;font-size:0.88em;margin-bottom:0.4em;}
#formulaire_inscription fieldset legend{font-weight:bold;color:#333;}
.formulaire_forum,.formulaire_ecrire_auteur{background-color:#fafafa;border:1px solid #ccc;}
.formulaire_forum fieldset legend,.formulaire_ecrire_auteur fieldset legend{color:#333;}
.formulaire_forum .boutons input,.formulaire_ecrire_auteur .boutons input{background-color:#333;border-color:#565656;}
fieldset.previsu{border-color:#74d218;}
fieldset.previsu .boutons input{background:#74d218;border-color:#74d218;}
.forum-repondre,.forum-decompte{clear:both;margin-top:2.5em;padding-top:2px;font-size:0.88em;font-weight:bold;}
.forum-repondre{background:transparent url("http://www.jquery.info/squelettes/images/forum.gif") left 50% no-repeat;padding-left:30px;}
.forum-decompte{color:#933211;}
ul.forum{display:block;clear:both;margin:0;padding:0;}
ul.forum,ul.forum ul{list-style:none;}
.forum-fil{margin-top:1.5em;}
.forum-fil ul{display:block;margin:0;padding:0;margin-left:1em;}
.forum-chapo .forum-titre,.forum-chapo .forum-titre a{display:block;margin:0;padding:0;font-weight:bold;text-decoration:none;color:#fff;}
.forum-chapo .forum-titre .spip_code{color:#74d218;}
.forum-chapo small{color:#fff;}
.forum-texte{margin:0;padding:0.5em 1em;color:#333;font-size:0.82em;}
.forum-texte .forum-repondre-message{margin:0;padding:1px 0;text-align:right;}
ul .forum-message{border:1px solid #666;background:#fafafa;margin:0;padding:0;margin-bottom:1em;}
ul ul .forum-message{border:1px solid #A4A4A4;}
ul ul ul .forum-message{border:1px solid #B8B8B8;}
ul ul ul ul .forum-message{border:1px solid #CCC;}
ul ul ul ul ul .forum-message{border:1px solid #E0E0E0;}
ul ul ul ul ul ul .forum-message{border:1px dotted #E0E0E0;}
ul .forum-chapo{border:none;margin:0;padding:3px 6px 2px 6px;font-size:0.88em;background:#333;}
ul ul .forum-chapo{background:#4f4f4f;}
ul ul ul .forum-chapo{background:#6f6f6f;}
ul ul ul ul .forum-chapo{background:#8f8f8f;}
ul ul ul ul ul .forum-chapo{background:#afafaf;}
#signatures{clear:both;font-size:0.77em;}
#signatures h2{padding:0.5em;text-align:center;font-size:1.2em;font-weight:bold;}
#signatures table{width:100%;margin:1em 0;}
#signatures thead{display:none;}
#signatures td.signature-date{background:#E4F0F0;padding:0.5em;white-space:nowrap;}
#signatures td.signature-nom{background:#ECF4F4;padding:0.2em;text-align:center;font-weight:bold;}
#signatures td.signature-message{background:#F4F8F8;padding:0.4em;font-size:0.96em;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:underline;}
a.spip_out{background:transparent url("http://www.jquery.info/squelettes/images/spip_out.gif") no-repeat right center;padding-right:10px;}

