html {	
	height:101%;
	margin:0 0 0.9em 0;
}

body {
	font-size: 13px;	
	font-family: Arial;
}

#pageArea {
	margin:10px auto 10px auto;
	padding:0;
	width:860px;
	border: 1px solid #333;
	border-radius: 3px;
}
#documentArea {
	padding: 10px;
}
#contentArea {

}
#contentAreaElements {

}

#contentAreaElements img {
	border: 1px solid #CCC;
	padding:4px;
	margin:0;	
}
#contentAreaElements h1{
	font-size: 18px;
	color: #b1c1d0;	
	margin: 0 0 10px 0;
	padding: 0;
}
#contentAreaElements h2{
	font-size: 16px;
	background-color: #b1c1d0;
	margin: 0 0 6px 0;
	padding: 2px;
}
#contentAreaElements h3{
	font-size: 14px;
	border-bottom: 1px solid #5e6d7c;
	color: #5e6d7c;
	margin: 0 0 4px 0;
	padding: 0;
}

.colLeft {
	float:left;
	width: 50%;
}
.colRight {
	float:right;
}
.clear {
	clear:both;
}

label {
	font-weight:bold;
	font-size: 10px;
}

table {
	margin: 0 0 10px 0;
}
td {
	padding: 0 4px 2px 0;
}
.inputField, .inputSelect, .inputRadio, .inputCheckbox {
	border: 1px solid #999;
	border-radius:3px;
	background-image:url(../layout/input_bg.gif);
}

.numberSpacer {
	padding: 0 4px 0 4px;
}

.buttonImage {
	cursor:pointer;
	border-width: 0 !important;
	padding:0 !important;
}

#infoArea {
	display:none;
}

a, a:link, a:visited {
	text-decoration:none;
	color: #000099;
}

a:focus, a:hover, a:active {
	color: #990000;
}

.scrollContent {
	height: 300px;
	overflow:auto;
	border: 1px solid #009900;
	border-radius 3px;
	margin: 0 0 10px 0;
	padding: 0;
}

.additionalFormElements{
	position:absolute;
	top:auto;
	left:auto;
	border: 1px solid #990000;
	border-radius: 3px;
	background-color: #EEEEEE;
	padding: 4px;
	font-size:11px;
}
.additionalFormElements td {
	border-bottom: 1px solid #333;
	font-size:11px;
}

.buttonAdditionalFormElements {
	border: none !important;
	cursor: pointer;
}

#headerMenueArea {
	margin:0 0 20px 0;
	padding:0;
	border-bottom: 1px solid #999;
}
#headerMenueContent {
	margin:0;
	padding:0;
}
#headerMenueContent  a, #headerMenueContent  a:link, #headerMenueContent  a:visited{
	margin:0 4px -1px 4px;
	padding:0 6px 0 6px;
	display:block;
	float:left;
	border-radius: 3px;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	background-color:#DDD;	
	text-decoration:none;
	color:#999;
	line-height:20px;
	font-weight:bold;
	letter-spacing:1px;
}
#headerMenueContent  a:focus, #headerMenueContent  a:hover, #headerMenueContent  a:active{	
	border-color: #990000;
	background-color:#999;	
	color:#000;
}
#headerMenueContent  a.menueActive {
	border-color: #009900;
	background-color:#00DD00;	
	color:#000;
}

hr {
	height: 1px;
	margin:10px 0;
	padding:0;
	color: #CCC;
	background-color: #CCC;
	border: 0px solid #CCC;
}

#contentArea form {
	width: 100% !important;
	min-width: 100% !important;
	max-width: 100% !important;
}